openapi: 3.0.1
info:
  title: Perforator API
  description: |
    **Perforator** is a load-testing platform to generate a load on websites from thousands of concurrent browsers running in the cloud and automated via selenium.
    On top of main functionality generating a load via browsers, Perforator provides a broad set of capabilities to analyze results of the load test:
    - On-demand browsers provisioning in the cloud.
    - Automatic transactions reporting.
    - Automatic RAW data capturing from all browsers started as a part of a load test.
    - Filtering and aggregation of RAW data captured.
    - Widest set of statistics calculated from RAW data.
    - Visualization via charts for every metric available.
    - Access to individual records to better understand the root cause of the performance problem.
  contact:
    name: Perforator Inc.
    url: 'https://www.perforator.io'
    email: support@perforator.io
  version: v1
servers:
  - url: 'https://api.perforator.io'
externalDocs:
  description: Platform Guide
  url: 'https://app.perforator.io/guide/introduction'
security:
  - OAuth: []
tags:
  - name: Projects
    description: |
      Projects are used to organize repeatable performance test executions related to the same environment:
      - Target website, for example, your-website.com
      - Deployment environment, for example, stage or prod
      - Performance test type, for example, load, stress, scalability, etc

      Example of good project naming: *your-website.com, stress testing in prod*.
      There are no restrictions on the project naming, so feel free to choose any name which can identify the purpose of repeatable performance test executions.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/projects'
  - name: Executions
    description: |
      Execution is a container of the data and compute resources related to a single performance test run.
      All executions are created within the parent project.
      Usually, when a new performance test starts, it should create a new execution record, request browser clouds within such execution, and begin streaming performance-related events.
      Allocating compute resources is done within browser clouds belonging to given execution - for more details, please see section "Browser Clouds".
      By default, when execution is created, its name is equal to its key, but feel free to adjust the name to anything more meaningful for you.
      You can utilize notes of the execution if you have any special conditions or instructions that might help you understand in the future behavior or purpose of the test execution.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/executions'
  - name: Browser clouds
    description: |
      Browser Cloud is a container of compute resources(browsers) allocated for a performance test run.
      All browser clouds are created within parent execution.
      Browser cloud is [Selenium](https://www.selenium.dev) compatible, and access to provisioned browsers is provided via [WebDriver W3C Protocol](https://w3c.github.io/webdriver/).
      Once the browser cloud is created on-demand and becomes operational, it can be accessed via a dedicated selenium hub URL, accessible according to the requested duration.
      Once browser cloud is terminated or expired according to duration, all compute resources are destroyed, and you can't access the selenium hub URL anymore.

      Essential characteristics of the browser cloud are `concurrency` and `duration`:
      - `concurrency` - how many **concurrent** browser sessions you would like to have in the cloud at any given.
      - `duration` - how many hours browser cloud should be available for you.

      Please keep in mind that you can create as many **concurrent** WebDriver sessions as requested via `concurrency`.
      For example, if you created a browser cloud with concurrency 200, then established 200 active WebDriver sessions, and then you try to create one(or more) session on top of **currently active** 200 sessions - such request will be rejected and returned with an error.
      At the same time, `concurrency` is not a limitation of how many WebDriver sessions can be created **overall**. For example, if your average WebDriver session duration is 1 minute and you have concurrency = 200, then you will have ~ `60 X 200 = 12000` unique sessions during the hour.
      Once any WebDriver session is terminated, its allocation slot becomes available to create a brand new browser session.
      If the WebDriver session is not accessed during any 60 seconds interval and not [terminated](https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html#quit()) manually - it is destroyed automatically, and its slot becomes available for creating new sessions again.
      ***
      **Browsers**:
      - We are running **Chrome** browsers in the cloud so that the **Chrome** browser will back all WebDriver sessions.
      - Browsers are started in *headful* mode, so all the visited pages in the browser are fully rendered, and you can even take [Screenshots](https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html#getScreenshotAs(org.openqa.selenium.OutputType))
      - The default resolution of the browser is 1920x1080, but you can easily resize it to whatever resolution is more suitable for you.
      - Every browser receives one dedicated CPU core and 1GB of RAM.
      - All the networking data on the HTTP request level from running browsers is automatically captured behind the scenes and submitted for analytical processing.
      - Additionally to capturing every HTTP request, we are automatically capturing all important page events like:
        - [Page DOM Content Time](https://chromedevtools.github.io/devtools-protocol/tot/Page/#event-domContentEventFired)
        - [Page Load Time](https://chromedevtools.github.io/devtools-protocol/tot/Page/#event-loadEventFired)
        - Page Duration, i.e., how much time the browser was active on the specific page.
      - Please refer to the [Analytics](#/Analytics) section to see more details on which data we are capturing and what kind of statistics is computed from such data.
      ***
      **Geographic location**:
      Browser clouds are launched in US-based data centers, and all browsers are evenly spread across regions below.
      For example, if you are requesting a browser cloud with 1000 browsers, every region will get ~250 browsers.
      - North Virginia
      - Ohio
      - North California
      - Oregon
      ***
      **On-Demand provisioning flow**:
      1. Once a browser cloud record is created, it automatically receives `QUEUED` status.
      2. Browser cloud stays in `QUEUED` state until infrastructure has enough CPU & RAM capacity to provision requested browsers. All the requests from all different clients to create browser clouds are processed in [FIFO](https://en.wikipedia.org/wiki/FIFO_(computing_and_electronics)) order.
      3. Once the infrastructure has enough hardware capacity to create all requested browsers, the browser cloud is moved to a `PROVISIONING` state.
      4. `PROVISIONING` state is kept while all VMs are starting. Usually, it takes 2-3 minutes for smaller clouds and up to 10 minutes for large clouds with 5k+ browsers.
      5. Browser cloud is moved to `OPERATIONAL` state once all VMs have successfully started and passed all required health checks.
      6. Browser cloud is kept in `OPERATIONAL` state according to the requested duration.
      7. If the user requests termination of the browser cloud, or it expires according to the requested duration, the browser cloud is moved to `TERMINATING` state. Such a state is used as an indicator that decommissioning of the resources has begun.
      8. The final state of the browser cloud is `TERMINATED` - it indicates that all resources allocated to the browser cloud have been successfully deleted.
      ***
      **[1-to-N](https://en.wikipedia.org/wiki/One-to-many_(data_model)) relationship between Execution and Browser Clouds**:
      - In the majority of the cases, there is a 1-to-1 relationship between execution and browser cloud.
      - One browser cloud is created per one load generator, where a single load generator covers concurrent execution of 1 or more performance testing suites.
      - More than one browser cloud is usually a case when you need to run multiple load generators in parallel but combine all analytical data to get a 360 view of the results.
      ***
      **Billing**:
      - Allocation of every new browser cloud automatically charges credits from your account.
      - Charging is done in *Browser/Hours* units using the following formula: `concurrency X duration`.
      - For example, if you start browser cloud with concurrency = 200 and duration = 2 hours, the final price will be `200 X 2 = 400` *Browser/Hours*.
      - Credits to start browser cloud should be bought in advance, so if you don't have enough credits to cover the new browser cloud, the request to create such a browser cloud will be rejected with an error.
      - *Browser/Hours* credits don't have any expiration date/time.
      - We are returning browser cloud credits to your account automatically if, for any reason, the browser cloud can't be started.
      ***
      **Limitations**:
      - Browser cloud concurrency can't exceed concurrency limits applied on your account.
      - Browser cloud duration can't exceed duration limits applied on your account.
      - To check the current limits applied on your account, please see [Limits](#/Limits) documentation.
      - To increase such limits - please send us an email at support@perforator.io and describe your use case. We will be pleased to expand the boundaries in reasonable ranges.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/browser_clouds'
  - name: Analytics
    description: |
      Executing a load test is just a first step in understanding the overall performance of the target system.
      Equally significant, even if not more important, is to analyze the performance test results - understand bottlenecks, find the root cause, and get a 360 view of the system behavior under the load.
      Perforator covers both aspects of such tests - generating the load on a target system and query performance metrics.
      You can use *Analytics* endpoints to get performance metrics produced as a part of the performance test.
      ***
      Analytics endpoints are bound to execution scope.
      In the majority of the cases, you will have one browser cloud per execution. Still, for some complex scenarios, it is required to provision more than one browser cloud per execution and calculate performance metrics as a whole.
      ***
      All performance metrics are grouped into dedicated namespaces for more straightforward calculations and management.
      Example namespaces:
      - **requests** - HTTP requests are automatically captured from browsers launched in the cloud. We provide HTTP request metrics in both aggregated ways and on the individual level. So, you can get statistics of all HTTP requests matching given criteria or review RAW data of individual requests.
      - **pages** - all web page navigations are automatically captured from browsers launched in the cloud. You can review both aggregated metrics calculated from pages matching given criteria or review individual pages to get a clue of what was happening during a specific page visit.
      - **sessions** - all browsers in the cloud are managed via selenium, so every browser launch is equal to one session. All the navigations, actions, reloads, etc., are automatically captured, so you can get statistics calculated across multiple sessions or review individual session data.
      - **transactions** - this is a special concept of capturing performance metrics outside the browser cloud as it occurs inside the load-generator(where user-level code is executed). Transactions always have a start time, finish time, and success indicator - either true or false. In case of failure, the transaction also has error details attached to the record. The majority of the transactions are captured automatically as a part of the prebuilt [integrations](https://gitlab.com/perforator-public/java-tools), but you can also initiate your own transactions. Transactions can be reviewed in both aggregated ways and on an individual level.
      - **pulse** - this is a unique namespace with the primary purpose of calculating and visualizing ongoing or real-time metrics without waiting till a specific transaction/session/page is completed. You can treat the pulse namespace as a heartbeat diagram. For example, whenever any transaction/session/page is started - the system automatically omits heartbeat events every 250ms till the completion of the sequence. As a result, you can visualize how many concurrent transactions/sessions/pages were happening at any given moment. In the majority of the cases, such namespace is used to calculate concurrency-related data and display it on the chart canvas.
      ***
      **Fields**
      Every namespace is composited from a set(thousands or even 100M+ for large browser clouds) of records having the same structure.
      The structure of such records is defined via a set of fields - all records within the same namespace have the same set of fields, but records from different namespaces have a different set of fields.
      Fields are needed to store information of the individual records or to filter multiple records when calculating aggregated statistics.
      Every field has its own predefined type like `string`, `boolean`, `long`, `decimal`, or `array`.
      Also, every field definition has a dedicated set of filters available to be applied when querying the data.
      ***
      **Filters**
      You can apply filters whenever you are querying for individual records or calculating aggregated metrics across a set of records.
      All filters are combined using the' AND' operator if you have multiple filters applied to your analytics request.
      In some rare cases, you might need to have a filter checking for multiple values using the 'OR' operator - in this case, you can supply filter in the form below:
      `{"field": "field_name", "condition": "=", "value": "value1 || value2 || value3" }`, where '||' acts as 'OR' operator.
      ***
      **Metrics**
      Whenever performance test runs, we capture and store source records as is(i.e., raw data) and calculate aggregated metrics from such source records in real-time.
      It allows you to calculate very complex metrics, both postfactum when the performance test is completed or still in progress.
      As a result, you don't need to think about how metrics should be pre-aggregated before performance test launches.
      Simplified flow of metrics calculation:
      - Save source records when performance test runs.
      - Extract source records when metrics calculation is requested.
      - Apply filters to extracted source records.
      - Apply math formulas to calculate aggregated metrics from filtered records.
      ***
      All analytical API calls require a massive amount of data to be extracted(millions of source records taking GBs of data in compressed format), so such calls take an extended time for processing.
      Please expect something in the 10s-30s time range to calculate your requested metrics.
      You can request one or more metrics within a single API call.
      It is preferable to request various metrics within a single API call instead of sending multiple API calls to get individual metrics separately.
      Calculating multiple metrics within a single API call takes almost the same time as calculating a single metric.
      For example, if your request to get a single metric takes 15s and you need four different metrics - it will take 15x4=60s overall, making four individual API calls, while requesting all four metrics within one call still takes 15s overall.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/statistics/overview'
  - name: Credits
    description: |
      You should have enough credits to pay for the provisioned duration of the browser cloud whenever you would like to launch it.
      Please use the following formula to estimate how many credits you need to launch a new browser cloud: **Concurrency**(in browsers) x **Duration**(in hours).
      For example, if you need to launch a browser cloud with 500 concurrent browsers for 2 hours - the total cost is 1000 Browser/Hours, calculated as 500x2.
      All the changes in balance credits are reflected as a part of balance transactions - you can quickly review all such transactions for your reference.
      You should receive 1,000 Browser/Hours as a free one-time bonus when you sign up for Perforator platform.
      There are no requirements or limitations to such a bonus - you can use it as a one-shot browser cloud launch with 1000 browsers or multiple launches with smaller clouds spread over time.
      Creation of the browser clouds is put on hold whenever your credits balance approaches zero value, and any request to launch a new browser cloud will be returned with an error.
      To continue creating new browser clouds, you should top-up your balance via buying additional credits using your credit card.
      Please check the following [link](https://www.perforator.io/pricing) to see actual pricing.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/credits'
  - name: Limits
    description: |
      Launching browser clouds requires a tremendous amount of hardware resources to be provisioned.
      For example, a browser cloud with 10,000 concurrent browsers requires 10,000 CPU Cores and 10 TB RAM.
      Multiply this number on concurrent clients, and it might end up with unrealistic numbers.
      Unfortunately, there is no such concept as indefinite hardware resources in the real world - even major cloud providers like AWS, GCP, or Microsoft Azure have limited resources.
      As a result, to prevent system overload and provide equal capacity to all Perforator clients, we have to apply certain limits.
      Also, another critical aspect of having account-level limits - we have seen many cases where users start launching huge browser clouds from the very beginning, which immediately breaks target systems user verifies.
      A better practice is to start with the smaller browser clouds and increase the load once you verify that your system can handle even smaller-level traffic.
      Default limits are pretty conservative, but you can increase them once you hit the boundaries - please shoot us an email at support@perforator.io to increase the limits applied on your account.
      Usually, limits increase takes a few days, so please consider it before running load tests with extended capacity.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/limits'
paths:
  /v1/projects:
    get:
      tags:
        - Projects
      summary: List existing projects
      description: |
        Call this operation if you want to get a list of existing projects.
      operationId: listProjects
      parameters: []
      responses:
        '200':
          description: Returns a list of existing projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
              example:
                - uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
                  createdAt: 1624416790568
                  updatedAt: 1624502433458
                - uuid: 4f5fa566-ba8c-4273-ba6b-890f8d6f954f
                  name: example.com - Prod - Stress
                  notes: Stress Testing of example.com in production environment
                  createdAt: 1624503190568
                  updatedAt: 1624588833458
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
        - Projects
      summary: Create a new project
      description: |
        Call this operation if you want to create a new project.
        ***
        **Special Notes**:
        - `name` field is required and should not be empty. Also, it should be unique across all projects.
        - `notes` is an optional field, so you can skip it if not needed.
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
      operationId: createProject
      parameters: []
      requestBody:
        description: Payload to create a new project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
            examples:
              Create project with both name and notes:
                value:
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
              Create project with name:
                value:
                  name: example.com - Stage - Load
              Create project with notes:
                value:
                  notes: Load Testing of example.com in stage environment
        required: true
      responses:
        '200':
          description: Returns full payload of the created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}':
    get:
      tags:
        - Projects
      summary: Get information about the existing project.
      description: |
        Call this operation if you want to get information about the existing project.
      operationId: getProject
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project.
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      responses:
        '200':
          description: Returns full payload of the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Projects
      summary: Check if the project exists.
      description: |
        Call this operation if you would like to check if a specific project
        exists in the system and is available for different operations.
      operationId: checkIfProjectExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      responses:
        '200':
          description: |
            Returns response code 200 if the project exists. 
            The body of the response is empty according to the [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      tags:
        - Projects
      summary: Update existing project
      description: |
        Call this operation if you want to update **all the fields** in the project.
        Any optional field(s) missing from the payload will be replaced with null(s) during the project update.
        For example, if the `notes` field was 'aaa' before calling update operation and payload doesn't include `notes` - resulted `notes` will be nullified.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the update payload - it will be ignored.
        - **uuid**
        - **createdAt**
        - **updatedAt**
      operationId: updateProject
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Payload to update existing project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
            example:
              name: example.com - Stage - Load
              notes: Load Testing of example.com in stage environment
        required: true
      responses:
        '200':
          description: Returns full payload of the updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
    patch:
      tags:
        - Projects
      summary: Patch existing project
      description: |
        Call this operation if you want to update only specific field(s) in the project.
        Any optional field(s) missing from the payload will be excluded from the project update.
        For example, if the **name** was '*Random Project Name*' before calling patch operation
        and payload doesn't include **name** field - resulted **name** will be retained as '*Random Project Name*'.
        At the same time, if the field was specified as **null** in the payload of patch operation - it will be nullified in the project record.
        The general rule is to specify only the fields you want to update without affecting any other fields.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the patch payload - it will be ignored.
        - **uuid**
        - **createdAt**
        - **updatedAt**
      operationId: patchProject
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Payload to patch existing project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
            examples:
              Patch only name:
                value:
                  name: example.com - Stage - Load
              Patch only notes:
                value:
                  notes: Load Testing of example.com in stage environment
              Patch both name and notes:
                value:
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
        required: true
      responses:
        '200':
          description: Returns full payload of the updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions':
    get:
      tags:
        - Executions
      summary: List executions of the given project
      description: Call this operation if you want to get a list of project executions.
      operationId: listExecutions
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      responses:
        '200':
          description: Returns a list of project executions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'
              example:
                - uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                - uuid: 6d2f5a5d-6b75-46a7-9803-abea31278b59
                  name: Preparation for the release on 07/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1592197200000
                  updatedAt: 1592200800000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      tags:
        - Executions
      summary: Create a new execution within the given project
      description: |
        Call this operation if you want to create a new execution within a project.
        ***
        **Special Notes**:
        - `name` is an optional field, so you can skip it if not needed.
        - `notes` is an optional field, so you can skip it if not needed.
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
      operationId: createExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project for execution to be created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Payload to create a new execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
            examples:
              Create execution with both name and notes:
                value:
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
              Create execution with name:
                value:
                  name: Preparation for the release on 01/01/2021
              Create execution with notes:
                value:
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
        required: true
      responses:
        '200':
          description: Returns full payload of the created execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}':
    get:
      tags:
        - Executions
      summary: Get information about existing execution.
      description: |
        Call this operation if you want to get information about the existing execution.
      operationId: getExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns full payload of the execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Executions
      summary: Check if execution exists
      description: Call this operation if you would like to check if specific execution exists.
      operationId: checkIfExecutionExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: |
            Returns response code 200 if the execution exists.  
            The body of the response is empty according to [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      tags:
        - Executions
      summary: Update existing execution
      description: |
        Call this operation if you want to update **all the fields** in the execution.
        Any optional field(s) missing from the payload will be replaced with null(s) during the execution update.
        For example, if the `notes` field was 'aaa' before calling update operation and payload doesn't include `notes` - resulted `notes` will be nullified.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the update payload - it will be ignored.
        - **uuid**
        - **createdAt**
        - **updatedAt**
      operationId: updateExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      requestBody:
        description: Payload to update execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
            example:
              name: Preparation for the release on 01/01/2021
              notes: 'Concurrency 1000 browsers, duration 2 hours'
        required: true
      responses:
        '200':
          description: Returns full payload of the updated execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
    patch:
      tags:
        - Executions
      summary: Patch existing execution
      description: |
        Call this operation if you want to update only specific field(s) in the execution.
        Any optional field(s) missing from the payload will be excluded from the execution update.
        For example, if the **name** was '*Random Project Name*' before calling patch operation
        and payload doesn't include **name** field - resulted **name** will be retained as '*Random Project Name*'.
        At the same time, if the field was specified as **null** in the payload of patch operation - it will be nullified in the project record.
        The general rule is to specify only the fields you want to update without affecting any other fields.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the patch payload - it will be ignored.
        - **uuid**
        - **createdAt**
        - **updatedAt**
      operationId: patchExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      requestBody:
        description: Payload to patch existing execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
            examples:
              Patch execution with both name and notes:
                value:
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
              Patch execution with name:
                value:
                  name: Preparation for the release on 01/01/2021
              Patch execution with notes:
                value:
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
        required: true
      responses:
        '200':
          description: Returns full payload of the updated execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds':
    get:
      tags:
        - Browser clouds
      summary: List browser clouds of the given execution
      description: Call this operation if you want to get a list of browser clouds started as a part of the given execution.
      operationId: listBrowserClouds
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns a list of browser clouds created within specific execution.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrowserCloud'
              example:
                - uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 200
                  duration: 2
                  status: QUEUED
                - uuid: 1af84de8-f9b6-4964-9b24-b9dee489529e
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 400
                  duration: 1
                  status: PROVISIONING
                - uuid: bb04d3e4-e9b4-47d6-ae8f-371bd0d68fc0
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 150
                  duration: 1
                  status: OPERATIONAL
                - uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 250
                  duration: 1
                  status: TERMINATING
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      tags:
        - Browser clouds
      summary: Create a new browser cloud for the given execution
      description: |
        Call this operation if you want to create a new browser cloud within the given execution.
        ***
        **Special Notes**:
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `status` is a system-level field, so it will be ignored even if you try to submit it.
      operationId: createBrowserCloud
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      requestBody:
        description: Payload to create a new browser cloud
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserCloud'
            examples:
              Create browser cloud with 50 browsers for 2 hours:
                value:
                  concurrency: 50
                  duration: 2
              Create browser cloud with 100 browsers for 1 hour:
                value:
                  concurrency: 100
                  duration: 1
        required: true
      responses:
        '200':
          description: Returns full payload of the created browser cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloud'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                createdAt: 1608012000000
                updatedAt: 1608015600000
                concurrency: 50
                duration: 2
                status: QUEUED
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}':
    get:
      tags:
        - Browser clouds
      summary: Get information about existing browser cloud
      description: |
        Call this operation if you want to get information about the existing browser cloud.
      operationId: getBrowserCloud
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns full payload of the browser cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloud'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                createdAt: 1608012000000
                updatedAt: 1608015600000
                concurrency: 50
                duration: 2
                status: QUEUED
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Browser clouds
      summary: Check if the browser cloud exists
      description: Call this operation if you want to check if a specific browser cloud exists in the system.
      operationId: checkIfBrowserCloudExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: |
            Returns response code 200 if the browser cloud exists.  
            The body of the response is empty according to [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    delete:
      tags:
        - Browser clouds
      summary: Terminate browser cloud
      description: |
        Call this operation if you want to terminate the existing browser cloud.
        ***
        **Special Notes**:
        - Terminating browser cloud is only allowed if it is in `QUEUED`, `PROVISIONING`, and `OPERATIONAL` states.
        - Call to terminate browser cloud in state `TERMINATING` or `TERMINATED` will be rejected with an error.
        - Terminating the browser cloud in `QUEUED` state will automatically refund credits charged for creating such a browser cloud.
      operationId: terminateBrowserCloud
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns full payload of the terminated browser cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloud'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                createdAt: 1608012000000
                updatedAt: 1608015600000
                concurrency: 50
                duration: 2
                status: TERMINATING
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}/details':
    get:
      tags:
        - Browser clouds
      summary: Get extended details about the existing browser cloud.
      description: |
        Call this operation if you want to get extended details of the specific browser cloud.
        Some examples of extended details are:
        - When browser cloud became ready? - `readyAt` field
        - How many browser slots are starting? - `browsersStartingCount` field
        - How many browser slots are ready for operations? - `browsersReadyCount` field
        - Browser name(`browserName`) and version(`browserVersion`)
        - What is the selenium hub URL for [RemoteWebDriver](https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html) connections? - `seleniumHubURL` field
      operationId: getBrowserCloudDetails
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns browser cloud details payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloudDetails'
              example:
                uuid: 1ee796e4-27fe-46e5-9767-56d5352310d0
                status: OPERATIONAL
                browserName: chrome
                browserVersion: 90.0.4430.24
                duration: 1
                browsersRequestedCount: 500
                browsersReadyCount: 500
                browsersStartingCount: 0
                readyAt: 1625928669754
                expirationAt: 1625932269754
                seleniumHubURL: 'https://selenium.perforator.io/d502c7b2-031c-40db-adcf-ec0661715e0a/1ee796e4-27fe-46e5-9767-56d5352310d0/wd/hub'
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}/transaction_events':
    post:
      tags:
        - Browser clouds
      summary: Send transaction events for analytics
      description: |
        Call this operation if you want to submit transaction events from the load-generator side.
        ***
        **Special notes**:
        - In the majority of the cases, you don't need to call this operation manually since Perforator provides pre-build integrations that automatically submit transaction events for processing.
        - One of the pre-built integrations allows you to utilize the full power of [TestNG](https://testng.org/doc/documentation-main.html) paired with Perforator. Feel free to explore such integration in the [Perforator public GitLab repo](https://gitlab.com/perforator-public/java-tools/-/tree/master/testng).
        ***
        **Event Types**:
        Only the following event types(`eventType`) are allowed to be submitted:
        - `transaction_heartbeat` - event describing that specific transaction is still alive. Typically such events are submitted every 250ms for every active transaction.
        - `transaction_completed` - event describing that specific transaction has been completed. Events with such type should only be sent once when the transaction is completed.
        ***
        **Processing flow**:
        When the list of events is accepted, it is first validated and then placed in the async processing queue, meaning that such events will be processed eventually in the future.
        Usually, it takes around 15 seconds to process all new events.
        Operation responds with the payload containing two extra fields:
        - `rejectedEvents` - events in this collection indicate that it is not valid and should not be submitted again. Typically such events don't contain required fields or have invalid data.
        - `retryableEvents` - events in this collection are valid ones, but a technical issue occurred while submitting such events to the processing queue. Such events should be resent during the next attempt.

        All events which are neither inside `rejectedEvents` nor inside `retryableEvents` are submitted to the processing queue successfully.
        ***
        **Validations**:
        - `timestamp` - required, its value can't be in the future and can't be more than 24h back in the past.
        - `eventType` - required, should be either 'transaction_heartbeat' or 'transaction_completed'.
        - `failureMessage` - optional, but if present, it should have less than 65K symbols.
        - `failed` - should be provided for `transaction_completed` events.
        - `suiteName` - required, should be less than 256 symbols.
        - `transactionID` - required, should be in [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.
        - `transactionName` - required, should be less than 1024 symbols.
        - `parentTransactionID` - optional, but if present, it should be in [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.
        - `parentTransactionName` - optional, but should be provided if `parentTransactionID` is present.
        - `browserName` - optional, but if present, it should be less than 256 symbols.
        - `browserVersion` - optional, but if present, it should be less than 256 symbols.
        - `sessionId` - optional, but if present, it should be less than 64 symbols.
      operationId: sendTransactionEvents
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/TransactionEvent'
            example:
              - timestamp: 1626062953605
                eventType: transaction_heartbeat
                sessionId: 08464985fc627525e14cff420510fde5
                browserName: chrome
                browserVersion: 90.0.4430.72
                transactionId: 6aebd8ce-6958-4893-abe8-a2262ba8ddc6
                transactionName: Visit documentation page
                parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                parentTransactionName: Visit public website
                suiteName: System stress test
              - timestamp: 1626063314905
                eventType: transaction_completed
                sessionId: ead6243bf428a74e3eb2451e57d695d0
                browserName: chrome
                browserVersion: 90.0.4430.72
                failed: true
                failureMessage: Long stacktrace of the issue
                transactionId: 0d1621ec-2ced-4bcd-a5e4-5fb4303c2296
                transactionName: Visit support page
                parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                parentTransactionName: Visit public website
                suiteName: System stress test
        required: true
      responses:
        '200':
          description: Returns a payload with the details of the rejected events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/TransactionEventsSubmissionResult'
              example:
                rejectedEvents:
                  - error: Invalid event type
                    event:
                      timestamp: 1626063314905
                      eventType: event_type_which_should_not_be_accepted
                      sessionId: ead6243bf428a74e3eb2451e57d695d0
                      browserName: chrome
                      browserVersion: 90.0.4430.72
                      failed: true
                      failureMessage: Long stacktrace of the issue
                      transactionId: 0d1621ec-2ced-4bcd-a5e4-5fb4303c2296
                      transactionName: Visit support page
                      parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                      parentTransactionName: Visit public website
                      suiteName: System stress test
                retryableEvents:
                  - timestamp: 1626063314905
                    eventType: transaction_completed
                    sessionId: ead6243bf428a74e3eb2451e57d695d0
                    browserName: chrome
                    browserVersion: 90.0.4430.72
                    failed: true
                    failureMessage: Long stacktrace of the issue
                    transactionId: 0d1621ec-2ced-4bcd-a5e4-5fb4303c2296
                    transactionName: Visit support page
                    parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                    parentTransactionName: Visit public website
                    suiteName: System stress test
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/v1/projects/{project_key}/executions/{execution_key}/analytics/namespaces':
    get:
      tags:
        - Analytics
      summary: List analytics namespaces
      description: |
        Call this operation if you want to get a list of analytics namespaces available for the given project/execution.
        ***
        **Namespace** is a container storing data captured as a part of the performance test in a predefined format.
        Every namespace is characterized via a predefined set of fields describing the structure of the stored data and a set of named metrics declaring math aggregations available for analysis.
        In the majority of the cases, all projects and executions have the same namespaces/fields/metrics, but during the time, new executions can store additional data.
        As a result, older executions might have a smaller set of namespaces/fields/metrics comparing the most recent ones.
        So, please call this operation to get the detailed listing of namespaces available for the given execution.
        Here is the list of namespaces available as of now:
        - **requests** - HTTP requests are automatically captured from browsers launched in the cloud. We provide HTTP request metrics in both aggregated ways and on the individual level. So, you can get statistics of all HTTP requests matching given criteria or review RAW data of individual requests.
        - **pages** - all web page navigations are automatically captured from browsers launched in the cloud. You can review both aggregated metrics calculated from pages matching given criteria or review individual pages to get a clue of what was happening during a specific page visit.
        - **sessions** - all browsers in the cloud are managed via selenium, so every browser launch is equal to one session. All the navigations, actions, reloads, etc., are automatically captured, so you can get statistics calculated across multiple sessions or review individual session data.
        - **transactions** - this is a special concept of capturing performance metrics outside the browser cloud as it occurs inside the load-generator(where user-level code is executed). Transactions always have a start time, finish time, and success indicator - either true or false. In case of failure, the transaction also has error details attached to the record. The majority of the transactions are captured automatically as a part of the prebuilt [integrations](https://gitlab.com/perforator-public/java-tools), but you can also initiate your own transactions. Transactions can be reviewed in both aggregated ways and on an individual level.
        - **pulse** - this is a unique namespace with the primary purpose of calculating and visualizing ongoing or real-time metrics without waiting till a specific transaction/session/page is completed. You can treat the pulse namespace as a heartbeat diagram. For example, whenever any transaction/session/page is started - the system automatically omits heartbeat events every 250ms till the completion of the sequence. As a result, you can visualize how many concurrent transactions/sessions/pages were happening at any given moment. In the majority of the cases, such namespace is used to calculate concurrency-related data and display it on the chart canvas.
      operationId: getNamespaces
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns payload with the list of analytics namespaces available for the given project/execution.
          content:
            application/json:
              schema:
                type: array
                items:
                  type: string
              example:
                - requests
                - pages
                - sessions
                - transactions
                - pulse
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/v1/projects/{project_key}/executions/{execution_key}/analytics/namespaces/{namespace}/fields':
    get:
      tags:
        - Analytics
      summary: List fields defined for the given namespace
      description: |
        Call this operation if you want to get a list of fields available for the given analytics namespace.
        ***
        Every field has the following characteristics:
        - `name` - the name of the field
        - `type` - the field type, for example, `string`, `boolean`, `array`, `long`, or `decimal`.
        - `filters` - an array of filters available for the given field. Such filters can be applied when filtering source records.
        - `items` - optional map describing nested structure of the field. Currently it is available only for array fields and the only example is `browser_sessions` field from `transactions` namespace: `{"browser_name": "string","browser_version": "string","session_id": "string"}`
        - `groupingFlags` - optional array describing additional flags applicable for the field during [getGroupedStatistics](#/Analytics/getGroupedStatistics) API call. Currently, we support only one grouping flag, `ignore_url_params`, which strips all URL parameters during the grouping phase, and such flag is available only for the following fields:
          - `request_url` from `requests` namespace, for example: `{"request_url": {"ignore_url_params": true}}`
          - `page_url` from `requests` namespace, for example: `{"page_url": {"ignore_url_params": true}}`
          - `page_url` from `pages` namespace, for example: `{"page_url": {"ignore_url_params": true}}`
      operationId: getNamespaceFields
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: namespace
          in: path
          description: namespace value
          required: true
          allowEmptyValue: false
          schema:
            type: string
          examples:
            requests:
              value: requests
            pages:
              value: pages
            sessions:
              value: sessions
            transactions:
              value: transactions
            pulse:
              value: pulse
      responses:
        '200':
          description: Returns payload with the list of fields available for the given project/execution/namespace.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/AnalyticsFieldInfo'
              examples:
                requests:
                  summary: Example fields for requests namespace
                  description: |
                    **Important:** This is just an example response. Please make an API call to get actual fields listing for `requests` namespace.
                  value:
                    - name: browser_name
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: browser_version
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: connect_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: content_download_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: dns_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: dynamic
                      type: boolean
                      filters:
                        - '='
                    - name: dynamic_errored
                      type: boolean
                      filters:
                        - '='
                    - name: dynamic_failed
                      type: boolean
                      filters:
                        - '='
                    - name: dynamic_problematic
                      type: boolean
                      filters:
                        - '='
                    - name: dynamic_successful
                      type: boolean
                      filters:
                        - '='
                    - name: errored
                      type: boolean
                      filters:
                        - '='
                    - name: failed
                      type: boolean
                      filters:
                        - '='
                    - name: failure_message
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: id
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: page_id
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: page_url
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                      groupingFlags:
                        - ignore_url_params
                    - name: problematic
                      type: boolean
                      filters:
                        - '='
                    - name: protocol
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: proxy_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: request_body
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: request_headers
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: request_method
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: request_send_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: request_type
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: request_url
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                      groupingFlags:
                        - ignore_url_params
                    - name: response_body
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: response_code
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: response_content_type
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: response_headers
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: response_size
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: server_processing_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: session_id
                      type: string
                      filters:
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                        - starts_with
                        - not_starts_with
                        - not_contains
                    - name: ssl_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: static
                      type: boolean
                      filters:
                        - '='
                    - name: static_errored
                      type: boolean
                      filters:
                        - '='
                    - name: static_failed
                      type: boolean
                      filters:
                        - '='
                    - name: static_problematic
                      type: boolean
                      filters:
                        - '='
                    - name: static_successful
                      type: boolean
                      filters:
                        - '='
                    - name: successful
                      type: boolean
                      filters:
                        - '='
                    - name: timestamp
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                    - name: ttfb_duration
                      type: long
                      filters:
                        - <
                        - '='
                        - '>'
                        - '>='
                        - '!='
                        - <=
                pages:
                  summary: Example fields for pages namespace
                  description: |
                    **Important:** This is just an example response. Please make an API call to get actual fields listing for `pages` namespace.
                  value:
                    - name: browser_name
                      type: string
                      filters:
                        - starts_with
                        - not_starts_with
                        - not_contains
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                    - name: browser_version
                      type: string
                      filters:
                        - starts_with
                        - not_starts_with
                        - not_contains
                        - '!='
                        - '='
                        - ends_with
                        - contains
                        - not_ends_with
                    - name: contains_dynamic_errored_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_dynamic_failed_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_dynamic_problematic_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_dynamic_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_dynamic_successful_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_errored_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_failed_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_problematic_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_static_errored_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_static_failed_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_static_problematic_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_static_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_static_successful_requests
                      type: boolean
                      filters:
                        - '='
                    - name: contains_successful_requests
                      type: boolean
                      filters:
                        - '='
                    - name: dom_content_load
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: duration
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_count
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_avg
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_max
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_min
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_p50
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_p75
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_p90
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_p95
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_p99
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_duration_sd
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_percentage
                      type: decimal
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_avg
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_max
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_min
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_p50
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_p75
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_p90
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_p95
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_p99
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_errored_requests_response_size_sd
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_count
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_avg
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_max
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_min
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_p50
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_p75
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_p90
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_p95
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_p99
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_duration_sd
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_percentage
                      type: decimal
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_avg
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_max
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_min
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_p50
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_p75
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_p90
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_p95
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_p99
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_failed_requests_response_size_sd
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_problematic_requests_count
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_problematic_requests_duration_avg
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_problematic_requests_duration_max
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
                        - <=
                        - <
                        - '='
                    - name: dynamic_problematic_requests_duration_min
                      type: long
                      filters:
                        - '>'
                        - '>='
                        - '!='
[...]
