openapi: 3.0.1
info:
  title: Perforator API
  description: |
    **Perforator** is a load-testing platform to generate a load on websites from thousands of concurrent browsers running in the cloud and automated via selenium.
    On top of main functionality generating a load via browsers, Perforator provides a broad set of capabilities to analyze results of the load test:
    - On-demand browsers provisioning in the cloud.
    - Automatic transactions reporting.
    - Automatic RAW data capturing from all browsers started as a part of a load test.
    - Filtering and aggregation of RAW data captured.
    - Widest set of statistics calculated from RAW data.
    - Visualization via charts for every metric available.
    - Access to individual records to better understand the root cause of the performance problem.
  contact:
    name: Perforator Inc.
    url: 'https://www.perforator.io'
    email: support@perforator.io
  version: v1
servers:
  - url: 'https://api.perforator.io'
externalDocs:
  description: Platform Guide
  url: 'https://app.perforator.io/guide/introduction'
security:
  - OAuth: []
tags:
  - name: Projects
    description: |
      Projects are used to organize repeatable performance test executions related to the same environment:
      - Target website, for example, your-website.com
      - Deployment environment, for example, stage or prod
      - Performance test type, for example, load, stress, scalability, etc

      Example of good project naming: *your-website.com, stress testing in prod*.
      There are no restrictions on the project naming, so feel free to choose any name which can identify the purpose of repeatable performance test executions.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/projects'
  - name: Executions
    description: |
      Execution is a container of the data and compute resources related to a single performance test run.
      All executions are created within the parent project.
      Usually, when a new performance test starts, it should create a new execution record, request browser clouds within such execution, and begin streaming performance-related events.
      Allocating compute resources is done within browser clouds belonging to given execution - for more details, please see section "Browser Clouds".
      By default, when execution is created, its name is equal to its key, but feel free to adjust the name to anything more meaningful for you.
      You can utilize notes of the execution if you have any special conditions or instructions that might help you understand in the future behavior or purpose of the test execution.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/executions'
  - name: Browser clouds
    description: |
      Browser Cloud is a container of compute resources(browsers) allocated for a performance test run.
      All browser clouds are created within parent execution.
      Browser cloud is [Selenium](https://www.selenium.dev) compatible, and access to provisioned browsers is provided via [WebDriver W3C Protocol](https://w3c.github.io/webdriver/).
      Once the browser cloud is created on-demand and becomes operational, it can be accessed via a dedicated selenium hub URL.
      Once browser cloud is terminated, all compute resources are destroyed, and you can't access the selenium hub URL anymore.

      Essential characteristics of the browser cloud is `concurrency`:
      - `concurrency` - how many **concurrent** browser sessions you would like to have in the cloud at any given moment.

      Please keep in mind that you can create as many **concurrent** WebDriver sessions as requested via `concurrency`.
      For example, if you created a browser cloud with concurrency 200, then established 200 active WebDriver sessions, and then you try to create one(or more) session on top of **currently active** 200 sessions - such request will be rejected and returned with an error.
      At the same time, `concurrency` is not a limitation of how many WebDriver sessions can be created **overall**. For example, if your average WebDriver session duration is 1 minute and you have concurrency = 200, then you will have ~ `60 X 200 = 12000` unique sessions during the hour.
      Once any WebDriver session is terminated, its allocation slot becomes available to create a brand new browser session.
      If the WebDriver session is not accessed during any 60 seconds interval and not [terminated](https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html#quit()) manually - it is destroyed automatically, and its slot becomes available for creating new sessions again.
      ***
      **Browsers**:
      - We are running **Chrome** browsers in the cloud so that the **Chrome** browser will back all WebDriver sessions.
      - Browsers are started in *headful* mode, so all the visited pages in the browser are fully rendered, and you can even take [Screenshots](https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html#getScreenshotAs(org.openqa.selenium.OutputType))
      - The default resolution of the browser is 1920x1080, but you can easily resize it to whatever resolution is more suitable for you.
      - Every browser receives one dedicated CPU core and 1GB of RAM.
      - All the networking data on the HTTP request level from running browsers is automatically captured behind the scenes and submitted for analytical processing.
      - Additionally to capturing every HTTP request, we are automatically capturing all important page events like:
        - [Page DOM Content Time](https://chromedevtools.github.io/devtools-protocol/tot/Page/#event-domContentEventFired)
        - [Page Load Time](https://chromedevtools.github.io/devtools-protocol/tot/Page/#event-loadEventFired)
        - Page Duration, i.e., how much time the browser was active on the specific page.
      - Please refer to the [Analytics](#/Analytics) section to see more details on which data we are capturing and what kind of statistics is computed from such data.
      ***
      **Geographic location**:
      Browser clouds are launched in US-based data centers, and all browsers are evenly spread across regions below.
      For example, if you are requesting a browser cloud with 1000 browsers, every region will get ~250 browsers.
      - North Virginia
      - Ohio
      - North California
      - Oregon
      ***
      **On-Demand provisioning flow**:
      1. Once a browser cloud record is created, it automatically receives `QUEUED` status.
      2. Browser cloud stays in `QUEUED` state until infrastructure has enough CPU & RAM capacity to provision requested browsers. All the requests from all different clients to create browser clouds are processed in [FIFO](https://en.wikipedia.org/wiki/FIFO_(computing_and_electronics)) order.
      3. Once the infrastructure has enough hardware capacity to create all requested browsers, the browser cloud is moved to a `PROVISIONING` state.
      4. `PROVISIONING` state is kept while all VMs are starting. Usually, it takes 2-3 minutes for smaller clouds and up to 10 minutes for large clouds with 5k+ browsers.
      5. Browser cloud is moved to `OPERATIONAL` state once all VMs have successfully started and passed all required health checks.
      6. If the user requests termination of the browser cloud, the browser cloud is moved to `TERMINATING` state. Such a state is used as an indicator that decommissioning of the resources has begun.
      7. The final state of the browser cloud is `TERMINATED` - it indicates that all resources allocated to the browser cloud have been successfully deleted.
      ***
      **[1-to-N](https://en.wikipedia.org/wiki/One-to-many_(data_model)) relationship between Execution and Browser Clouds**:
      - In the majority of the cases, there is a 1-to-1 relationship between execution and browser cloud.
      - One browser cloud is created per one load generator, where a single load generator covers concurrent execution of 1 or more performance testing suites.
      - More than one browser cloud is usually a case when you need to run multiple load generators in parallel but combine all analytical data to get a 360 view of the results.
      ***
      **Limitations**:
      - Browser cloud concurrency can't exceed concurrency limits applied on your account.
      - Browser cloud duration can't exceed duration limits applied on your account.
      - To check the current limits applied on your account, please see [Limits](#/Limits) documentation.
      - To increase such limits - please send us an email at support@perforator.io and describe your use case. We will be pleased to expand the boundaries in reasonable ranges.
    externalDocs:
      description: Guide
      url: 'https://app.perforator.io/guide/browser_clouds'
  - name: Cloud runners
    description: |
      In certain cases, you might not have enough hardware capacity or 
      network bandwidth to launch a load-generator locally. 
      For example, starting a load-generator orchestrating 5k remote browsers 
      requires at least 20 CPU cores and 20 GB memory.  
      To cover such a big load test, you can spin up a cloud runner within 
      the Perforator platform and access it via SSH protocol.  
      Currently, all cloud runners are launched in **AWS US-EAST-1** region only to be 
      located as close as possible to the Perforator platform infrastructure.  
      ***
      Perforator supports the following cloud runner types:    
      - `aws:t3.small` - 2 CPU cores and 2GB memory  
      - `aws:t3.medium` - 2 CPU cores and 4GB memory  
      - `aws:c5.large` - 2 CPU cores and 4GB memory  
      - `aws:c5.xlarge` - 4 CPU cores and 8GB memory  
      - `aws:c5.2xlarge` - 8 CPU cores and 16GB memory  
      - `aws:c5.4xlarge` - 16 CPU cores and 32GB memory  
      - `aws:c5.9xlarge` - 36 CPU cores and 72GB memory  
      - `aws:c5.18xlarge` - 72 CPU cores and 144GB memory  
      - `aws:c7a.medium` - 1 CPU cores and 2GB memory  
      - `aws:c7a.large` - 2 CPU cores and 4GB memory  
      - `aws:c7a.xlarge` - 4 CPU cores and 8GB memory  
      - `aws:c7a.2xlarge` - 8 CPU cores and 16GB memory  
      - `aws:c7a.4xlarge` - 16 CPU cores and 32GB memory  
      - `aws:c7a.8xlarge` - 32 CPU cores and 64GB memory  
      - `aws:c7a.12xlarge` - 48 CPU cores and 96GB memory  
      - `aws:c7a.16xlarge` - 64 CPU cores and 128GB memory  
      - `aws:c7a.24xlarge` - 96 CPU cores and 192GB memory  
      - `aws:c7a.32xlarge` - 128 CPU cores and 256GB memory  
      - `aws:c7a.48xlarge` - 192 CPU cores and 384GB memory  
      - `aws:c7i.large` - 2 CPU cores and 4GB memory  
      - `aws:c7i.xlarge` - 4 CPU cores and 8GB memory  
      - `aws:c7i.2xlarge` - 8 CPU cores and 16GB memory  
      - `aws:c7i.4xlarge` - 16 CPU cores and 32GB memory  
      - `aws:c7i.8xlarge` - 32 CPU cores and 64GB memory  
      - `aws:c7i.12xlarge` - 48 CPU cores and 96GB memory  
      - `aws:c7i.16xlarge` - 64 CPU cores and 128GB memory  
      - `aws:c7i.24xlarge` - 96 CPU cores and 192GB memory  
      - `aws:c7i.48xlarge` - 192 CPU cores and 384GB memory  
  - name: Load Generators
    description: "Launch config-based load generators in a cloud-native way.  \nCurrently, only codeless load generators can be launched in a cloud-native way.  \n***\n**Important:**\_Cloud-native load generators are a\_`BETA`\_functionality - please use them at your own concerns.\n"
  - name: Analytics
    description: |
      Executing a load test is just a first step in understanding the overall performance of the target system.
      Equally significant, even if not more important, is to analyze the performance test results - understand bottlenecks, find the root cause, and get a 360 view of the system behavior under the load.
      Perforator covers both aspects of such tests - generating the load on a target system and query performance metrics.
      You can use *Analytics* endpoints to get performance metrics produced as a part of the performance test.
      ***
      Analytics endpoints are bound to execution scope.
      In the majority of the cases, you will have one browser cloud per execution. Still, for some complex scenarios, it is required to provision more than one browser cloud per execution and calculate performance metrics as a whole.
      ***
      All performance metrics are grouped into dedicated namespaces for more straightforward calculations and management.
      Example namespaces:
      - **requests** - HTTP requests are automatically captured from browsers launched in the cloud. We provide HTTP request metrics in both aggregated ways and on the individual level. So, you can get statistics of all HTTP requests matching given criteria or review RAW data of individual requests.
      - **pages** - all web page navigations are automatically captured from browsers launched in the cloud. You can review both aggregated metrics calculated from pages matching given criteria or review individual pages to get a clue of what was happening during a specific page visit.
      - **transactions** - this is a special concept of capturing performance metrics outside the browser cloud as it occurs inside the load-generator(where user-level code is executed). Transactions always have a start time, finish time, and success indicator - either true or false. In case of failure, the transaction also has error details attached to the record. The majority of the transactions are captured automatically as a part of the prebuilt [integrations](https://gitlab.com/perforator-public/java-tools), but you can also initiate your own transactions. Transactions can be reviewed in both aggregated ways and on an individual level.
      - **pulse** - this is a unique namespace with the primary purpose of calculating and visualizing ongoing or real-time metrics without waiting till a specific transaction/session/page is completed. You can treat the pulse namespace as a heartbeat diagram. For example, whenever any transaction/session/page is started - the system automatically omits heartbeat events every 250ms till the completion of the sequence. As a result, you can visualize how many concurrent transactions/requests/pages were happening at any given moment. In the majority of the cases, such namespace is used to calculate concurrency-related data and display it on the chart canvas.
      ***
      **Fields**
      Every namespace is composited from a set(thousands or even 100M+ for large browser clouds) of records having the same structure.
      The structure of such records is defined via a set of fields - all records within the same namespace have the same set of fields, but records from different namespaces have a different set of fields.
      Fields are needed to store information of the individual records or to filter multiple records when calculating aggregated statistics.
      Every field has its own predefined type like `string`, `boolean`, `long`, `decimal`, or `array`.
      Also, every field definition has a dedicated set of filters available to be applied when querying the data.
      ***
      **Filters**
      You can apply filters whenever you are querying for individual records or calculating aggregated metrics across a set of records.
      All filters are combined using the' AND' operator if you have multiple filters applied to your analytics request.
      In some rare cases, you might need to have a filter checking for multiple values using the 'OR' operator - in this case, you can supply filter in the form below:
      `{"field": "field_name", "condition": "=", "value": "value1 || value2 || value3" }`, where '||' acts as 'OR' operator.
      ***
      **Metrics**
      Whenever performance test runs, we capture and store source records as is(i.e., raw data) and calculate aggregated metrics from such source records in real-time.
      It allows you to calculate very complex metrics, both postfactum when the performance test is completed or still in progress.
      As a result, you don't need to think about how metrics should be pre-aggregated before performance test launches.
      Simplified flow of metrics calculation:
      - Save source records when performance test runs.
      - Extract source records when metrics calculation is requested.
      - Apply filters to extracted source records.
      - Apply math formulas to calculate aggregated metrics from filtered records.
      ***
      All analytical API calls require a massive amount of data to be extracted(millions of source records taking GBs of data in compressed format), so such calls take an extended time for processing.
      Please expect something in the 10s-30s time range to calculate your requested metrics.
      You can request one or more metrics within a single API call.
      It is preferable to request various metrics within a single API call instead of sending multiple API calls to get individual metrics separately.
      Calculating multiple metrics within a single API call takes almost the same time as calculating a single metric.
      For example, if your request to get a single metric takes 15s and you need four different metrics - it will take 15x4=60s overall, making four individual API calls, while requesting all four metrics within one call still takes 15s overall.
  - name: Limits
    description: |
      Launching browser clouds requires a tremendous amount of hardware resources to be provisioned.
      For example, a browser cloud with 10,000 concurrent browsers requires 10,000 CPU Cores and 10 TB RAM.
      Multiply this number on concurrent clients, and it might end up with unrealistic numbers.
      Unfortunately, there is no such concept as indefinite hardware resources in the real world - even major cloud providers like AWS, GCP, or Microsoft Azure have limited resources.
      As a result, to prevent system overload and provide equal capacity to all Perforator clients, we have to apply certain limits.
      Also, another critical aspect of having account-level limits - we have seen many cases where users start launching huge browser clouds from the very beginning, which immediately breaks target systems user verifies.
      A better practice is to start with the smaller browser clouds and increase the load once you verify that your system can handle even smaller-level traffic.
      Default limits are pretty conservative, but you can increase them once you hit the boundaries - please shoot us an email at support@perforator.io to increase the limits applied on your account.
      Usually, limits increase takes a few days, so please consider it before running load tests with extended capacity.
  - name: Cloud Providers
    description: |
      Cloud Providers allow precise control of different integrations with providers like AWS.
      You can enable or disable certain providers, as well as enable/disable remote regions.
paths:
  /v1/projects:
    get:
      tags:
        - Projects
      summary: List existing projects
      description: |
        Call this operation if you want to get a list of existing projects.
      operationId: listProjects
      parameters: []
      responses:
        '200':
          description: Returns a list of existing projects
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Project'
              example:
                - uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
                  createdAt: 1624416790568
                  updatedAt: 1624502433458
                - uuid: 4f5fa566-ba8c-4273-ba6b-890f8d6f954f
                  name: example.com - Prod - Stress
                  notes: Stress Testing of example.com in production environment
                  createdAt: 1624503190568
                  updatedAt: 1624588833458
        '401':
          $ref: '#/components/responses/401'
    post:
      tags:
        - Projects
      summary: Create a new project
      description: |
        Call this operation if you want to create a new project.
        ***
        **Special Notes**:
        - `name` field is required and should not be empty. Also, it should be unique across all projects.
        - `notes` is an optional field, so you can skip it if not needed.
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
      operationId: createProject
      parameters: []
      requestBody:
        description: Payload to create a new project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
            examples:
              Create project with both name and notes:
                value:
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
              Create project with name:
                value:
                  name: example.com - Stage - Load
              Create project with notes:
                value:
                  notes: Load Testing of example.com in stage environment
        required: true
      responses:
        '200':
          description: Returns full payload of the created project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}':
    get:
      tags:
        - Projects
      summary: Get information about the existing project.
      description: |
        Call this operation if you want to get information about the existing project.
      operationId: getProject
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project.
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      responses:
        '200':
          description: Returns full payload of the project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Projects
      summary: Check if the project exists.
      description: |
        Call this operation if you would like to check if a specific project
        exists in the system and is available for different operations.
      operationId: checkIfProjectExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      responses:
        '200':
          description: |
            Returns response code 200 if the project exists. 
            The body of the response is empty according to the [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      tags:
        - Projects
      summary: Update existing project
      description: |
        Call this operation if you want to update **all the fields** in the project.
        Any optional field(s) missing from the payload will be replaced with null(s) during the project update.
        For example, if the `notes` field was 'aaa' before calling update operation and payload doesn't include `notes` - resulted `notes` will be nullified.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the update payload - it will be ignored.
        - **uuid**
        - **createdAt**
        - **updatedAt**
      operationId: updateProject
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Payload to update existing project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
            example:
              name: example.com - Stage - Load
              notes: Load Testing of example.com in stage environment
        required: true
      responses:
        '200':
          description: Returns full payload of the updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
    patch:
      tags:
        - Projects
      summary: Patch existing project
      description: |
        Call this operation if you want to update only specific field(s) in the project.
        Any optional field(s) missing from the payload will be excluded from the project update.
        For example, if the **name** was '*Random Project Name*' before calling patch operation
        and payload doesn't include **name** field - resulted **name** will be retained as '*Random Project Name*'.
        At the same time, if the field was specified as **null** in the payload of patch operation - it will be nullified in the project record.
        The general rule is to specify only the fields you want to update without affecting any other fields.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the patch payload - it will be ignored.
        - **uuid**
        - **createdAt**
        - **updatedAt**
      operationId: patchProject
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Payload to patch existing project
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Project'
            examples:
              Patch only name:
                value:
                  name: example.com - Stage - Load
              Patch only notes:
                value:
                  notes: Load Testing of example.com in stage environment
              Patch both name and notes:
                value:
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
        required: true
      responses:
        '200':
          description: Returns full payload of the updated project
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Project'
              example:
                uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                name: example.com - Stage - Load
                notes: Load Testing of example.com in stage environment
                createdAt: 1624416790568
                updatedAt: 1624502433458
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions':
    get:
      tags:
        - Executions
      summary: List executions of the given project
      description: Call this operation if you want to get a list of project executions.
      operationId: listExecutions
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      responses:
        '200':
          description: Returns a list of project executions
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/Execution'
              example:
                - uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                  type: GENERAL
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                - uuid: 6d2f5a5d-6b75-46a7-9803-abea31278b59
                  type: GENERAL
                  name: Preparation for the release on 07/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1592197200000
                  updatedAt: 1592200800000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      tags:
        - Executions
      summary: Create a new execution within the given project
      description: |
        Call this operation if you want to create a new execution within a project.
        ***
        **Special Notes**:
        - `name` is an optional field, so you can skip it if not needed.
        - `notes` is an optional field, so you can skip it if not needed.
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `type` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
      operationId: createExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project for execution to be created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Payload to create a new execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
            examples:
              Create execution with both name and notes:
                value:
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
              Create execution with name:
                value:
                  name: Preparation for the release on 01/01/2021
              Create execution with notes:
                value:
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
        required: true
      responses:
        '200':
          description: Returns full payload of the created execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}':
    get:
      tags:
        - Executions
      summary: Get information about existing execution.
      description: |
        Call this operation if you want to get information about the existing execution.
      operationId: getExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns full payload of the execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                type: GENERAL
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Executions
      summary: Check if execution exists
      description: Call this operation if you would like to check if specific execution exists.
      operationId: checkIfExecutionExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: |
            Returns response code 200 if the execution exists.  
            The body of the response is empty according to [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    put:
      tags:
        - Executions
      summary: Update existing execution
      description: |
        Call this operation if you want to update **all the fields** in the execution.
        Any optional field(s) missing from the payload will be replaced with null(s) during the execution update.
        For example, if the `notes` field was 'aaa' before calling update operation and payload doesn't include `notes` - resulted `notes` will be nullified.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the update payload - it will be ignored.
        - **uuid**
        - **type**
        - **createdAt**
        - **updatedAt**
      operationId: updateExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      requestBody:
        description: Payload to update execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
            example:
              name: Preparation for the release on 01/01/2021
              notes: 'Concurrency 1000 browsers, duration 2 hours'
        required: true
      responses:
        '200':
          description: Returns full payload of the updated execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                type: GENERAL
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
    patch:
      tags:
        - Executions
      summary: Patch existing execution
      description: |
        Call this operation if you want to update only specific field(s) in the execution.
        Any optional field(s) missing from the payload will be excluded from the execution update.
        For example, if the **name** was '*Random Project Name*' before calling patch operation
        and payload doesn't include **name** field - resulted **name** will be retained as '*Random Project Name*'.
        At the same time, if the field was specified as **null** in the payload of patch operation - it will be nullified in the project record.
        The general rule is to specify only the fields you want to update without affecting any other fields.
        ***
        **Special Notes**:
        The fields below can't be updated, because it is managed on the system-level.
        So, even if you specify any of such fields in the patch payload - it will be ignored.
        - **uuid**
        - **type**
        - **createdAt**
        - **updatedAt**
      operationId: patchExecution
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project execution belongs to
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      requestBody:
        description: Payload to patch existing execution
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/Execution'
            examples:
              Patch execution with both name and notes:
                value:
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
              Patch execution with name:
                value:
                  name: Preparation for the release on 01/01/2021
              Patch execution with notes:
                value:
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
        required: true
      responses:
        '200':
          description: Returns full payload of the updated execution
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Execution'
              example:
                uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                type: GENERAL
                name: Preparation for the release on 01/01/2021
                notes: 'Concurrency 1000 browsers, duration 2 hours'
                createdAt: 1608012000000
                updatedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/cloud_runners':
    get:
      tags:
        - Cloud runners
      summary: List cloud runners of the given execution
      description: Call this operation if you want to get a list of cloud runners started as a part of the given execution.
      operationId: listCloudRunners
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: e44db33b-17f4-4b65-ba0d-6b190ff39125
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 18d1e46d-e352-44b8-a435-226f016e03ec
      responses:
        '200':
          description: Returns a list of cloud runners created within specific execution.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/CloudRunner'
              example:
                - uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                  hardwareType: 'aws:c5.large'
                  hardwareCpu: 2
                  hardwareMemory: 4
                  status: QUEUED
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  requestedAt: 1608012000000
                - uuid: 1af84de8-f9b6-4964-9b24-b9dee489529e
                  hardwareType: 'aws:c5.large'
                  hardwareCpu: 2
                  hardwareMemory: 4
                  status: PROVISIONING
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  requestedAt: 1608012000000
                  startingAt: 1608012010000
                - uuid: bb04d3e4-e9b4-47d6-ae8f-371bd0d68fc0
                  hardwareType: 'aws:c5.large'
                  hardwareCpu: 2
                  hardwareMemory: 4
                  status: OPERATIONAL
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  requestedAt: 1608012000000
                  startingAt: 1608012010000
                  readyAt: 1608012060000
                - uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                  status: TERMINATED
                  hardwareType: 'aws:c5.large'
                  hardwareCpu: 2
                  hardwareMemory: 4
                  sshUser: perforator
                  sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILhKzVzL8RYBFDZblagiF1fPKLiI9JRYw8CrU2lrCwVN user@example.com
                  sshHostIP: 1.2.3.4
                  sshPort: 22
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  requestedAt: 1608012000000
                  startingAt: 1608012010000
                  readyAt: 1608012060000
                  terminatingAt: 1608012360000
                  terminatedAt: 1608012460000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      tags:
        - Cloud runners
      summary: Start a new cloud runner for the given execution
      description: |
        Call this operation if you want to start a new cloud runner within the given execution.
        ***
        **Special Notes**:
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `status` is a system-level field, so it will be ignored even if you try to submit it.
      operationId: startCloudRunner
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: e44db33b-17f4-4b65-ba0d-6b190ff39125
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 18d1e46d-e352-44b8-a435-226f016e03ec
      requestBody:
        description: Payload to start a new cloud runner
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/CloudRunner'
            examples:
              Start cloud runner:
                value:
                  hardwareType: 'aws:c5.large'
                  sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILhKzVzL8RYBFDZblagiF1fPKLiI9JRYw8CrU2lrCwVN user@example.com
        required: true
      responses:
        '200':
          description: Returns full payload of the started cloud runner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRunner'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                hardwareType: 'aws:c5.large'
                hardwareCpu: 2
                hardwareMemory: 4
                status: QUEUED
                createdAt: 1608012000000
                updatedAt: 1608015600000
                requestedAt: 1608012000000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/cloud_runners/{cloud_runner_key}':
    get:
      tags:
        - Cloud runners
      summary: Get information about existing cloud runner
      description: |
        Call this operation if you want to get information about the existing cloud runner.
      operationId: getCloudRunner
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: e44db33b-17f4-4b65-ba0d-6b190ff39125
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 18d1e46d-e352-44b8-a435-226f016e03ec
        - name: cloud_runner_key
          in: path
          description: Unique identifier of the cloud runner
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns full payload of the cloud runner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRunner'
              example:
                uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                status: TERMINATED
                hardwareType: 'aws:c5.large'
                hardwareCpu: 2
                hardwareMemory: 4
                sshUser: perforator
                sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILhKzVzL8RYBFDZblagiF1fPKLiI9JRYw8CrU2lrCwVN user@example.com
                sshHostIP: 1.2.3.4
                sshPort: 22
                createdAt: 1608012000000
                updatedAt: 1608015600000
                requestedAt: 1608012000000
                startingAt: 1608012010000
                readyAt: 1608012060000
                terminatingAt: 1608012360000
                terminatedAt: 1608012460000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Cloud runners
      summary: Check if the cloud runner exists
      description: Call this operation if you want to check if a specific cloud runner exists in the system.
      operationId: checkIfCloudRunnerExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: e44db33b-17f4-4b65-ba0d-6b190ff39125
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 18d1e46d-e352-44b8-a435-226f016e03ec
        - name: cloud_runner_key
          in: path
          description: Unique identifier of the cloud runner
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: |
            Returns response code 200 if the cloud runner exists.  
            The body of the response is empty according to [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/v1/projects/{project_key}/executions/{execution_key}/cloud_runners/{cloud_runner_key}/terminate':
    post:
      tags:
        - Cloud runners
      summary: Terminate cloud runner
      description: |
        Call this operation if you want to terminate the existing cloud runner.
        ***
        **Special Notes**:
        - Terminating cloud runner is only allowed if it is in `QUEUED`, `PROVISIONING`, and `OPERATIONAL` states.
        - Call to terminate cloud runner in state `TERMINATING` or `TERMINATED` will be rejected with an error.
      operationId: terminateCloudRunner
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: e44db33b-17f4-4b65-ba0d-6b190ff39125
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 18d1e46d-e352-44b8-a435-226f016e03ec
        - name: cloud_runner_key
          in: path
          description: Unique identifier of the cloud runner
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns full payload of the terminated cloud runner
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CloudRunner'
              example:
                uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                status: TERMINATING
                hardwareType: 'aws:c5.large'
                hardwareCpu: 2
                hardwareMemory: 4
                sshUser: perforator
                sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAILhKzVzL8RYBFDZblagiF1fPKLiI9JRYw8CrU2lrCwVN user@example.com
                sshHostIP: 1.2.3.4
                sshPort: 22
                createdAt: 1608012000000
                updatedAt: 1608015600000
                requestedAt: 1608012000000
                startingAt: 1608012010000
                readyAt: 1608012060000
                terminatingAt: 1608012360000
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/load_generators/codeless':
    post:
      tags:
        - Load Generators
      summary: Launch a new codeless load generator for the given project
      description: |
        Call this operation if you want to launch a new codeless load generator within a project.
      externalDocs:
        description: Guide
        url: 'https://www.perforator.io/guide/load_generator/codeless/usage'
      operationId: launchCodelessLoadGenerator
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project for execution to be created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
      requestBody:
        description: Codeless Load Generator Config
        content:
          application/json:
            schema:
              type: object
            example:
              suites:
                Default:
                  concurrency: 16
                  delay: 0s
                  duration: 10m
                  rampUp: 1m
                  rampDown: 1m
                  steps:
                    prepare:
                      - open: 'https://verifications.perforator.io/'
                      - sleep: 10s-20s
                    crawl:
                      - crawler:
                          delay: 10s-20s
                          maxVisitsOverall: 15
                          maxDuration: 5m
          application/yaml:
            schema:
              type: object
            example:
              suites:
                Default:
                  concurrency: 16
                  delay: 0s
                  duration: 10m
                  rampUp: 1m
                  rampDown: 1m
                  steps:
                    prepare:
                      - open: 'https://verifications.perforator.io/'
                      - sleep: 10s-20s
                    crawl:
                      - crawler:
                          delay: 10s-20s
                          maxVisitsOverall: 15
                          maxDuration: 5m
        required: true
      responses:
        '200':
          description: Returns full payload of the codeless load generator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodelessLoadGeneratorDetails'
              example:
                project:
                  uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
                  createdAt: 1624416790568
                  updatedAt: 1624502433458
                execution:
                  uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                  type: CLOUD_NATIVE_CODELESS_LOAD_GENERATOR
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                cloud_runners:
                  - uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                    status: OPERATIONAL
                    hardwareType: 'aws:c5.large'
                    hardwareCpu: 2
                    hardwareMemory: 4
                    sshUser: perforator
                    sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCnRFTyimOgh3v+yHUFd/4B7SW88mLysXzSbQWfYpLo 43c85af6-e5a2-4044-8f77-015fdd472d0f@perforator.io
                    sshHostIP: 1.2.3.4
                    sshPort: 22
                    createdAt: 1608012000000
                    updatedAt: 1608015600000
                    requestedAt: 1608012000000
                    startingAt: 1608012010000
                    readyAt: 1608012060000
                    terminatingAt: 1608012360000
                    terminatedAt: 1608012460000
                browser_clouds:
                  - uuid: 1ee796e4-27fe-46e5-9767-56d5352310d0
                    correlationKey: 8502cff5-199a-465a-a1e2-165d82bc30f0
                    status: OPERATIONAL
                    browserName: chrome
                    browserVersion: 90.0.4430.24
                    browsersRequestedCount: 500
                    browsersReadyCount: 500
                    browsersStartingCount: 0
                    readyAt: 1625928669754
                    seleniumHubURL: 'https://selenium.perforator.io/d502c7b2-031c-40db-adcf-ec0661715e0a/1ee796e4-27fe-46e5-9767-56d5352310d0/wd/hub'
                    publicIPs:
                      - 123.122.77.88
                      - 34.554.3.55
                    usePreAllocatedIPs: false
                    dataCapturingIncludeRequestHeaders: true
                    dataCapturingIncludeRequestBody: true
                    dataCapturingIncludeResponseHeaders: true
                    dataCapturingIncludeResponseBody: true
                status: QUEUED
                sshPublicKey: |
                  ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCnRFTyimOgh3v+yHUFd/4B7SW88mLysXzSbQWfYpLo 43c85af6-e5a2-4044-8f77-015fdd472d0f@perforator.io
                sshPrivateKey: |
                  -----BEGIN OPENSSH PRIVATE KEY-----
                  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
                  QyNTUxOQAAACCgp0RU8opjoId7/sh1BXf+Ae0lvPJi8rF80m0Fn2KS6AAAALgyQFvMMkBb
                  zAAAAAtzc2gtZWQyNTUxOQAAACCgp0RU8opjoId7/sh1BXf+Ae0lvPJi8rF80m0Fn2KS6A
                  AAAEDehbV+Lf567J/EtwS+Pohbk8qC6FujlmP1/EvzWHYFTaCnRFTyimOgh3v+yHUFd/4B
                  7SW88mLysXzSbQWfYpLoAAAAMjQzYzg1YWY2LWU1YTItNDA0NC04Zjc3LTAxNWZkZDQ3Mm
                  QwZkBwZXJmb3JhdG9yLmlvAQID
                  -----END OPENSSH PRIVATE KEY-----
                config:
                  suites:
                    Default:
                      concurrency: 16
                      delay: 0s
                      duration: 10m
                      rampUp: 1m
                      rampDown: 1m
                      steps:
                        prepare:
                          - open: 'https://verifications.perforator.io/'
                          - sleep: 10s-20s
                        crawl:
                          - crawler:
                              delay: 10s-20s
                              maxVisitsOverall: 15
                              maxDuration: 5m
                configSource: |
                  suites:
                    Default:
                      concurrency: 16
                      delay: 0s
                      duration: 10m
                      rampUp: 1m
                      rampDown: 1m
                      steps:
                        prepare:
                          - open: https://verifications.perforator.io/
                          - sleep: 10s-20s
                        crawl:
                          - crawler:
                              delay: 10s-20s
                              maxVisitsOverall: 15
                              maxDuration: 5m
                configSourceType: YAML
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/load_generators/codeless/{execution_key}':
    get:
      tags:
        - Load Generators
      summary: Get codeless load generator details
      description: |
        Call this operation if you want to get codeless load generator details
      operationId: getCodelessLoadGeneratorDetails
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project where codeless load generator was created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution where codeless load generator was created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns full payload of the codeless load generator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodelessLoadGeneratorDetails'
              example:
                project:
                  uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
                  createdAt: 1624416790568
                  updatedAt: 1624502433458
                execution:
                  uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                  type: CLOUD_NATIVE_CODELESS_LOAD_GENERATOR
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                cloud_runners:
                  - uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                    status: OPERATIONAL
                    hardwareType: 'aws:c5.large'
                    hardwareCpu: 2
                    hardwareMemory: 4
                    sshUser: perforator
                    sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCnRFTyimOgh3v+yHUFd/4B7SW88mLysXzSbQWfYpLo 43c85af6-e5a2-4044-8f77-015fdd472d0f@perforator.io
                    sshHostIP: 1.2.3.4
                    sshPort: 22
                    createdAt: 1608012000000
                    updatedAt: 1608015600000
                    requestedAt: 1608012000000
                    startingAt: 1608012010000
                    readyAt: 1608012060000
                    terminatingAt: 1608012360000
                    terminatedAt: 1608012460000
                browser_clouds:
                  - uuid: 1ee796e4-27fe-46e5-9767-56d5352310d0
                    correlationKey: 8502cff5-199a-465a-a1e2-165d82bc30f0
                    status: OPERATIONAL
                    browserName: chrome
                    browserVersion: 90.0.4430.24
                    browsersRequestedCount: 500
                    browsersReadyCount: 500
                    browsersStartingCount: 0
                    readyAt: 1625928669754
                    seleniumHubURL: 'https://selenium.perforator.io/d502c7b2-031c-40db-adcf-ec0661715e0a/1ee796e4-27fe-46e5-9767-56d5352310d0/wd/hub'
                    publicIPs:
                      - 123.122.77.88
                      - 34.554.3.55
                    usePreAllocatedIPs: false
                    dataCapturingIncludeRequestHeaders: true
                    dataCapturingIncludeRequestBody: true
                    dataCapturingIncludeResponseHeaders: true
                    dataCapturingIncludeResponseBody: true
                status: QUEUED
                sshPublicKey: |
                  ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCnRFTyimOgh3v+yHUFd/4B7SW88mLysXzSbQWfYpLo 43c85af6-e5a2-4044-8f77-015fdd472d0f@perforator.io
                sshPrivateKey: |
                  -----BEGIN OPENSSH PRIVATE KEY-----
                  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
                  QyNTUxOQAAACCgp0RU8opjoId7/sh1BXf+Ae0lvPJi8rF80m0Fn2KS6AAAALgyQFvMMkBb
                  zAAAAAtzc2gtZWQyNTUxOQAAACCgp0RU8opjoId7/sh1BXf+Ae0lvPJi8rF80m0Fn2KS6A
                  AAAEDehbV+Lf567J/EtwS+Pohbk8qC6FujlmP1/EvzWHYFTaCnRFTyimOgh3v+yHUFd/4B
                  7SW88mLysXzSbQWfYpLoAAAAMjQzYzg1YWY2LWU1YTItNDA0NC04Zjc3LTAxNWZkZDQ3Mm
                  QwZkBwZXJmb3JhdG9yLmlvAQID
                  -----END OPENSSH PRIVATE KEY-----
                config:
                  suites:
                    Default:
                      concurrency: 16
                      delay: 0s
                      duration: 10m
                      rampUp: 1m
                      rampDown: 1m
                      steps:
                        prepare:
                          - open: 'https://verifications.perforator.io/'
                          - sleep: 10s-20s
                        crawl:
                          - crawler:
                              delay: 10s-20s
                              maxVisitsOverall: 15
                              maxDuration: 5m
                configSource: |
                  suites:
                    Default:
                      concurrency: 16
                      delay: 0s
                      duration: 10m
                      rampUp: 1m
                      rampDown: 1m
                      steps:
                        prepare:
                          - open: https://verifications.perforator.io/
                          - sleep: 10s-20s
                        crawl:
                          - crawler:
                              delay: 10s-20s
                              maxVisitsOverall: 15
                              maxDuration: 5m
                configSourceType: YAML
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/load_generators/codeless/{execution_key}/terminate':
    post:
      tags:
        - Load Generators
      summary: Terminate codeless load generator
      description: |
        Call this operation if you want to terminate codeless load generator
      operationId: terminateCodelessLoadGenerator
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project where codeless load generator was created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution where codeless load generator was created in
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns full payload of the codeless load generator
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/CodelessLoadGeneratorDetails'
              example:
                project:
                  uuid: 8276840e-26ee-41b5-a8ba-ad635759e1dc
                  name: example.com - Stage - Load
                  notes: Load Testing of example.com in stage environment
                  createdAt: 1624416790568
                  updatedAt: 1624502433458
                execution:
                  uuid: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
                  type: CLOUD_NATIVE_CODELESS_LOAD_GENERATOR
                  name: Preparation for the release on 01/01/2021
                  notes: 'Concurrency 1000 browsers, duration 2 hours'
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                cloud_runners:
                  - uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                    status: TERMINATING
                    hardwareType: 'aws:c5.large'
                    hardwareCpu: 2
                    hardwareMemory: 4
                    sshUser: perforator
                    sshPublicKey: ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCnRFTyimOgh3v+yHUFd/4B7SW88mLysXzSbQWfYpLo 43c85af6-e5a2-4044-8f77-015fdd472d0f@perforator.io
                    sshHostIP: 1.2.3.4
                    sshPort: 22
                    createdAt: 1608012000000
                    updatedAt: 1608015600000
                    requestedAt: 1608012000000
                    startingAt: 1608012010000
                    readyAt: 1608012060000
                    terminatingAt: 1608012360000
                    terminatedAt: 1608012460000
                browser_clouds:
                  - uuid: 1ee796e4-27fe-46e5-9767-56d5352310d0
                    correlationKey: 8502cff5-199a-465a-a1e2-165d82bc30f0
                    status: TERMINATING
                    browserName: chrome
                    browserVersion: 90.0.4430.24
                    browsersRequestedCount: 500
                    browsersReadyCount: 500
                    browsersStartingCount: 0
                    readyAt: 1625928669754
                    seleniumHubURL: 'https://selenium.perforator.io/d502c7b2-031c-40db-adcf-ec0661715e0a/1ee796e4-27fe-46e5-9767-56d5352310d0/wd/hub'
                    publicIPs:
                      - 123.122.77.88
                      - 34.554.3.55
                    usePreAllocatedIPs: false
                    dataCapturingIncludeRequestHeaders: true
                    dataCapturingIncludeRequestBody: true
                    dataCapturingIncludeResponseHeaders: true
                    dataCapturingIncludeResponseBody: true
                status: TERMINATING
                sshPublicKey: |
                  ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIKCnRFTyimOgh3v+yHUFd/4B7SW88mLysXzSbQWfYpLo 43c85af6-e5a2-4044-8f77-015fdd472d0f@perforator.io
                sshPrivateKey: |
                  -----BEGIN OPENSSH PRIVATE KEY-----
                  b3BlbnNzaC1rZXktdjEAAAAABG5vbmUAAAAEbm9uZQAAAAAAAAABAAAAMwAAAAtzc2gtZW
                  QyNTUxOQAAACCgp0RU8opjoId7/sh1BXf+Ae0lvPJi8rF80m0Fn2KS6AAAALgyQFvMMkBb
                  zAAAAAtzc2gtZWQyNTUxOQAAACCgp0RU8opjoId7/sh1BXf+Ae0lvPJi8rF80m0Fn2KS6A
                  AAAEDehbV+Lf567J/EtwS+Pohbk8qC6FujlmP1/EvzWHYFTaCnRFTyimOgh3v+yHUFd/4B
                  7SW88mLysXzSbQWfYpLoAAAAMjQzYzg1YWY2LWU1YTItNDA0NC04Zjc3LTAxNWZkZDQ3Mm
                  QwZkBwZXJmb3JhdG9yLmlvAQID
                  -----END OPENSSH PRIVATE KEY-----
                config:
                  suites:
                    Default:
                      concurrency: 16
                      delay: 0s
                      duration: 10m
                      rampUp: 1m
                      rampDown: 1m
                      steps:
                        prepare:
                          - open: 'https://verifications.perforator.io/'
                          - sleep: 10s-20s
                        crawl:
                          - crawler:
                              delay: 10s-20s
                              maxVisitsOverall: 15
                              maxDuration: 5m
                configSource: |
                  suites:
                    Default:
                      concurrency: 16
                      delay: 0s
                      duration: 10m
                      rampUp: 1m
                      rampDown: 1m
                      steps:
                        prepare:
                          - open: https://verifications.perforator.io/
                          - sleep: 10s-20s
                        crawl:
                          - crawler:
                              delay: 10s-20s
                              maxVisitsOverall: 15
                              maxDuration: 5m
                configSourceType: YAML
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds':
    get:
      tags:
        - Browser clouds
      summary: List browser clouds of the given execution
      description: Call this operation if you want to get a list of browser clouds started as a part of the given execution.
      operationId: listBrowserClouds
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      responses:
        '200':
          description: Returns a list of browser clouds created within specific execution.
          content:
            application/json:
              schema:
                type: array
                items:
                  $ref: '#/components/schemas/BrowserCloud'
              example:
                - uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                  correlationKey: 8502cff5-199a-465a-a1e2-165d82bc30f0
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 200
                  status: QUEUED
                - uuid: 1af84de8-f9b6-4964-9b24-b9dee489529e
                  correlationKey: 221679df-7f5c-4674-821a-1b9825b33dc1
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 400
                  status: PROVISIONING
                - uuid: bb04d3e4-e9b4-47d6-ae8f-371bd0d68fc0
                  correlationKey: ef450569-45fe-448c-b010-09f0eaf5ee2f
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 150
                  status: OPERATIONAL
                - uuid: 23c39165-89c1-4afb-80b6-e994cb96a482
                  correlationKey: 4c68fb3a-b8c7-48ee-b7b3-206e5e1a46d9
                  createdAt: 1608012000000
                  updatedAt: 1608015600000
                  concurrency: 250
                  status: TERMINATING
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    post:
      tags:
        - Browser clouds
      summary: Create a new browser cloud for the given execution
      description: |
        Call this operation if you want to create a new browser cloud within the given execution.
        ***
        **Special Notes**:
        - `uuid` is a system-level field, so it will be ignored even if you try to submit it.
        - `createdAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `updatedAt` is a system-level field, so it will be ignored even if you try to submit it.
        - `status` is a system-level field, so it will be ignored even if you try to submit it.
        - The platform automatically assigns random public IP addresses when creating a browser cloud, and such IPs are not known in advance. Please set `usePreAllocatedIPs` parameter to `true` if you would like all browsers to have preallocated IPs, for example, to establish network trust on your firewall side.
        - It might be a case when you need to exclude certain HTTP requests from capturing by cloud-based browsers so such requests don't affect analytics. Feel free to supply an optional parameter `dataCapturingExcludes` with the list of URLs to exclude from capturing.
        - You can supply an optional field 'httpHeaders', and as a result, all browsers from the cloud will include such headers in every HTTP request.
        - Please set `hosts` parameter if you would like to propagate additional /etc/hosts to remote browsers. It might be a case where a target website domain name is not resolvable via public DNS servers. So, to reach such domains from the browsers started in the cloud, you can supply a map of additional DNS records via 'hosts' parameter, for example: example.com => 1.2.3.4
        - Please set `dataCapturingIncludeRequestHeaders` parameter to control capturing of http requests headers. Default is `true`.
        - Please set `dataCapturingIncludeRequestBody` parameter to control capturing of http requests body. Default is `true`.
        - Please set `dataCapturingIncludeResponseHeaders` parameter to control capturing of http responses headers. Default is `true`.
        - Please set `dataCapturingIncludeResponseBody` parameter to control capturing of http responses body. Default is `true`.
      operationId: createBrowserCloud
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
      requestBody:
        description: Payload to create a new browser cloud
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/BrowserCloud'
            examples:
              Create browser cloud with 50 browsers:
                value:
                  concurrency: 50
              Create browser cloud with 50 browsers with pre allocated IPs:
                value:
                  concurrency: 50
                  usePreAllocatedIPs: true
              Create browser cloud with 100 browsers:
                value:
                  concurrency: 100
              Create browser cloud with 100 browsers with pre allocated IPs:
                value:
                  concurrency: 100
                  usePreAllocatedIPs: true
              Create browser cloud with data capturing excludes:
                value:
                  concurrency: 50
                  dataCapturingExcludes:
                    - 'https://example.com/font.ttf'
                    - 'https://example.com/page/*'
              Create browser cloud with controlled data capturing includes:
                value:
                  concurrency: 50
                  dataCapturingIncludeRequestHeaders: true
                  dataCapturingIncludeRequestBody: true
                  dataCapturingIncludeResponseHeaders: true
                  dataCapturingIncludeResponseBody: true
              Create browser cloud with http headers:
                value:
                  concurrency: 50
                  httpHeaders:
                    Authorization: Basic YOUR_AUTHORIZATION_TOKEN
                    Host: 'example.com:8080, example.com'
              Create browser cloud with additional hosts:
                value:
                  concurrency: 50
                  hosts:
                    localhost: 127.0.0.1
                    example.com: 1.2.3.4
        required: true
      responses:
        '200':
          description: Returns full payload of the created browser cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloud'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                createdAt: 1608012000000
                updatedAt: 1608015600000
                concurrency: 50
                status: QUEUED
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}':
    get:
      tags:
        - Browser clouds
      summary: Get information about existing browser cloud
      description: |
        Call this operation if you want to get information about the existing browser cloud.
      operationId: getBrowserCloud
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns full payload of the browser cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloud'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                correlationKey: 8502cff5-199a-465a-a1e2-165d82bc30f0
                createdAt: 1608012000000
                updatedAt: 1608015600000
                concurrency: 50
                status: QUEUED
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
    head:
      tags:
        - Browser clouds
      summary: Check if the browser cloud exists
      description: Call this operation if you want to check if a specific browser cloud exists in the system.
      operationId: checkIfBrowserCloudExists
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: |
            Returns response code 200 if the browser cloud exists.  
            The body of the response is empty according to [HTTP HEAD spec](https://datatracker.ietf.org/doc/html/rfc2616#section-9.4)
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}/terminate':
    post:
      tags:
        - Browser clouds
      summary: Terminate browser cloud
      description: |
        Call this operation if you want to terminate the existing browser cloud.
        ***
        **Special Notes**:
        - Terminating browser cloud is only allowed if it is in `QUEUED`, `PROVISIONING`, and `OPERATIONAL` states.
        - Call to terminate browser cloud in state `TERMINATING` or `TERMINATED` will be rejected with an error.
      operationId: terminateBrowserCloud
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns full payload of the terminated browser cloud
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloud'
              example:
                uuid: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
                createdAt: 1608012000000
                updatedAt: 1608015600000
                concurrency: 50
                status: TERMINATING
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
        '422':
          $ref: '#/components/responses/422'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}/details':
    get:
      tags:
        - Browser clouds
      summary: Get extended details about the existing browser cloud.
      description: |
        Call this operation if you want to get extended details of the specific browser cloud.
        Some examples of extended details are:
        - When browser cloud became ready? - `readyAt` field
        - How many browser slots are starting? - `browsersStartingCount` field
        - How many browser slots are ready for operations? - `browsersReadyCount` field
        - Browser name(`browserName`) and version(`browserVersion`)
        - What is the selenium hub URL for [RemoteWebDriver](https://www.selenium.dev/selenium/docs/api/java/org/openqa/selenium/remote/RemoteWebDriver.html) connections? - `seleniumHubURL` field
      operationId: getBrowserCloudDetails
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      responses:
        '200':
          description: Returns browser cloud details payload
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/BrowserCloudDetails'
              example:
                uuid: 1ee796e4-27fe-46e5-9767-56d5352310d0
                correlationKey: 8502cff5-199a-465a-a1e2-165d82bc30f0
                status: OPERATIONAL
                browserName: chrome
                browserVersion: 90.0.4430.24
                browsersRequestedCount: 500
                browsersReadyCount: 500
                browsersStartingCount: 0
                readyAt: 1625928669754
                seleniumHubURL: 'https://selenium.perforator.io/d502c7b2-031c-40db-adcf-ec0661715e0a/1ee796e4-27fe-46e5-9767-56d5352310d0/wd/hub'
                publicIPs:
                  - 123.122.77.88
                  - 34.554.3.55
                usePreAllocatedIPs: false
                dataCapturingIncludeRequestHeaders: true
                dataCapturingIncludeRequestBody: true
                dataCapturingIncludeResponseHeaders: true
                dataCapturingIncludeResponseBody: true
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
          $ref: '#/components/responses/404'
  '/v1/projects/{project_key}/executions/{execution_key}/browser_clouds/{browser_cloud_key}/analytics_events':
    post:
      tags:
        - Browser clouds
      summary: Send events for analytics
      description: |
        Call this operation if you want to submit analytics events from the load-generator side.
        ***
        **Special notes**:
        - In the majority of the cases, you don't need to call this operation manually since Perforator provides pre-build integrations that automatically submit analytics events for processing.
        - One of the pre-built integrations allows you to utilize the full power of [TestNG](https://testng.org/) paired with Perforator. Feel free to explore such integration in the [Perforator public GitLab repo](https://gitlab.com/perforator-public/java-tools/-/tree/master/testng).
        ***
        **Event Types**:
        Only the following event types(`eventType`) are allowed to be submitted:
        - `transaction_heartbeat` - event describing that specific transaction is still alive. Typically such events are submitted every 250ms for every active transaction.
        - `transaction_completed` - event describing that specific transaction has been completed. Events with such type should only be sent once when the transaction is completed.
        - `concurrency` - event describing that record should be treated as reporting point for concurrency. Typically such events are submitted every 250ms.
        ***
        **Concurrency Types**:
        Only the following concurrency types(`concurrencyType`) are allowed to be submitted:
        - `concurrent_top_level_transactions` - type of concurrency describing how many active 'top level' transactions at the specific moment.
        - `concurrent_nested_transactions` - type of concurrency describing how many active 'nested level' transactions at the specific moment.
        - `concurrent_transactions` - type of concurrency describing how many active transactions at the specific moment.
        - `concurrent_sessions` - type of concurrency describing how many active sessions at the specific moment.
        ***
        **Processing flow**:
        When the list of events is accepted, it is first validated and then placed in the async processing queue, meaning that such events will be processed eventually in the future.
        Usually, it takes around 15 seconds to process all new events.
        Operation responds with the payload containing two extra fields:
        - `rejectedEvents` - events in this collection indicate that it is not valid and should not be submitted again. Typically such events don't contain required fields or have invalid data.
        - `retryableEvents` - events in this collection are valid ones, but a technical issue occurred while submitting such events to the processing queue. Such events should be resent during the next attempt.

        All events which are neither inside `rejectedEvents` nor inside `retryableEvents` are submitted to the processing queue successfully.
        ***
        **Validations**:
        - `timestamp` - required, its value can't be in the future and can't be more than 24h back in the past.
        - `eventType` - required, should be one of 'transaction_heartbeat', 'transaction_completed' or 'concurrency'.
        - `failureMessage` - optional, but if present, it should have less than 65K symbols.
        - `failed` - should be provided for `transaction_completed` events.
        - `suiteName` - required only if eventType == 'transaction_heartbeat' or eventType == 'transaction_completed'
        - `transactionID` - required only if eventType == 'transaction_heartbeat' or eventType == 'transaction_completed', should be in [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.
        - `transactionName` - required only if eventType == 'transaction_heartbeat' or eventType == 'transaction_completed', should be less than 1024 symbols.
        - `parentTransactionID` - optional, but if present, it should be in [UUID](https://en.wikipedia.org/wiki/Universally_unique_identifier) format.
        - `parentTransactionName` - optional, but should be provided if `parentTransactionID` is present.
        - `browserName` - optional, but if present, it should be less than 256 symbols.
        - `browserVersion` - optional, but if present, it should be less than 256 symbols.
        - `sessionId` - optional, but if present, it should be less than 64 symbols.
        - `concurrencyType` - required only if eventType == 'concurrency', should be one of 'concurrent_top_level_transactions', 'concurrent_nested_transactions', 'concurrent_transactions' or 'concurrent_sessions'.
        - `concurrencyValue` - required only if eventType == 'concurrency'.
      operationId: sendAnalyticsEvents
      parameters:
        - name: project_key
          in: path
          description: Unique identifier of the project
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: 8276840e-26ee-41b5-a8ba-ad635759e1dc
        - name: execution_key
          in: path
          description: Unique identifier of the execution
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: ecbacdfe-6535-4cf7-a489-4b1f43ddf933
        - name: browser_cloud_key
          in: path
          description: Unique identifier of the browser cloud
          required: true
          allowEmptyValue: false
          schema:
            type: string
          example: b553dc6c-4fef-4a9f-bc16-ee2c88664dd0
      requestBody:
        content:
          application/json:
            schema:
              type: array
              items:
                $ref: '#/components/schemas/AnalyticsEvent'
            example:
              - timestamp: 1626062953605
                eventType: transaction_heartbeat
                sessionId: 08464985fc627525e14cff420510fde5
                browserName: chrome
                browserVersion: 90.0.4430.72
                transactionId: 6aebd8ce-6958-4893-abe8-a2262ba8ddc6
                transactionName: Visit documentation page
                parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                parentTransactionName: Visit public website
                suiteName: System stress test
              - timestamp: 1626063314905
                eventType: transaction_completed
                sessionId: ead6243bf428a74e3eb2451e57d695d0
                browserName: chrome
                browserVersion: 90.0.4430.72
                failed: true
                failureMessage: Long stacktrace of the issue
                transactionId: 0d1621ec-2ced-4bcd-a5e4-5fb4303c2296
                transactionName: Visit support page
                parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                parentTransactionName: Visit public website
                suiteName: System stress test
              - timestamp: 1626063315325
                eventType: concurrency
                suiteName: System stress test
                concurrencyType: concurrent_sessions
                concurrencyValue: 1500
        required: true
      responses:
        '200':
          description: Returns a payload with the details of the rejected events.
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/AnalyticsEventsSubmissionResult'
              example:
                rejectedEvents:
                  - error: Invalid event type
                    event:
                      timestamp: 1626063314905
                      eventType: event_type_which_should_not_be_accepted
                      sessionId: ead6243bf428a74e3eb2451e57d695d0
                      browserName: chrome
                      browserVersion: 90.0.4430.72
                      failed: true
                      failureMessage: Long stacktrace of the issue
                      transactionId: 0d1621ec-2ced-4bcd-a5e4-5fb4303c2296
                      transactionName: Visit support page
                      parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                      parentTransactionName: Visit public website
                      suiteName: System stress test
                retryableEvents:
                  - timestamp: 1626063314905
                    eventType: transaction_completed
                    sessionId: ead6243bf428a74e3eb2451e57d695d0
                    browserName: chrome
                    browserVersion: 90.0.4430.72
                    failed: true
                    failureMessage: Long stacktrace of the issue
                    transactionId: 0d1621ec-2ced-4bcd-a5e4-5fb4303c2296
                    transactionName: Visit support page
                    parentTransactionId: 90ef01d8-7c84-4ad6-b365-ec663246a326
                    parentTransactionName: Visit public website
                    suiteName: System stress test
        '401':
          $ref: '#/components/responses/401'
        '403':
          $ref: '#/components/responses/403'
        '404':
[...]
