---
################################################################################
# Load generator is responsible for orchestrating execution of the load test.  #
# It automatically controls the provisioning of the hardware resources required#
# to launch browser clouds and clean up of such resources.                     #
# It determines when and how to launch new suite instances, reports its        #
# metrics to the analytics system, provides an easy binding/integration        #
# with remote browsers created in the cloud using selenium protocol, etc.      #
#                                                                              #
# So, there are two dedicated sections in this config:                         #
# - *loadGenerator*, general settings applicable for load tests orchestration. #
# - *suites*, the actual configuration of the business logic for load tests.   #
#                                                                              #
# You can override almost all configuration properties via command line args   #
# or environment variables, so you can prepare a config file once and then     #
# utilize it under different conditions, for example:                          #
# - You don't want to store secure information like apiClientId or             #
#   apiClientSecret directly in the source code, but to supply it via          #
#   environment variables.                                                     #
# - You would like to debug your config file using a local browser.            #
# - You would like to verify your config file using limited concurrency, before#
#   executing it full speed.                                                   #
#                                                                              #
# Configuration values are looked up in the following order:                   #
# - System properties, i.e. command-line arguments: java -DloadGenerator.smth=.#
# - Environment variables                                                      #
# - Config value itself                                                        #
################################################################################
loadGenerator:

  ##############################################################################
  # Api Client ID.                                                             #
  # You can get it at https://app.perforator.io/settings/api                   #
  #                                                                            #
  # This is a required property.                                               #
  # Overrides:                                                                 #
  # - System property name: loadGenerator.apiClientId                          #
  # - Environment variable name: LOADGENERATOR_APICLIENTID                     #
  ##############################################################################
  apiClientId: YOUR_API_CLIENT_ID

  ##############################################################################
  # Api Client Secret.                                                         #
  # You can get it at https://app.perforator.io/settings/api                   #
  #                                                                            #
  # This is a required property.                                               #
  # Overrides:                                                                 #
  # - System property name: loadGenerator.apiClientSecret                      #
  # - Environment variable name: LOADGENERATOR_APICLIENTSECRET                 #
  ##############################################################################
  apiClientSecret: YOUR_API_CLIENT_SECRET

  ##############################################################################
  # Key of the project where to create a new execution and a browser cloud.    #
  # You can get it at https://app.perforator.io/dashboard                      #
  # Also, you can get it on the specific project page accessible from the      #
  # dashboard or from the left menu.                                           #
  #                                                                            #
  # This is a required property.                                               #
  # Overrides:                                                                 #
  # - System property name: loadGenerator.projectKey                           #
  # - Environment variable name: LOADGENERATOR_PROJECTKEY                      #
  ##############################################################################
  projectKey: YOUR_PROJECT_KEY

################################################################################
# Every load test has a set of one or more named suites.                       #
# A suite configuration defines concurrency, and its related parameters, a list#
# of sequential steps describing the flow of the test, and a list of actions   #
# to execute in the browser for every step.                                    #
#                                                                              #
# Load generator creates a suite instance when it starts executing a suite     #
# configuration.                                                               #
# As a general rule, a load generator maintains up to *concurrency* suite      #
# instances in parallel. Whenever a specific suite instance terminates - a load#
# generator spawns a brand new suite instance from the same configuration.     #
#                                                                              #
# The general rule of maintaining concurrent suite instance has two exceptions:#
# - Load generator considers *rampUp* and *delay* properties at the beginning  #
#   of the execution, but target concurrency should be maintained automatically#
#   once a ramp-up phase is completed.                                         #
# - Load generator considers *rampDown* property at the end of the execution,  #
#   so no new suites instances are launched once the ramp down phase is        #
#   activated.                                                                 #
#                                                                              #
# Load generator automatically launches a brand new browser in the cloud for   #
# every suite instance and automatically terminates such browser once suite    #
# instance processing is completed.                                            #
# Launching a new browser instance in the cloud takes around 2-3 seconds, so it#
# is suggested to have a smaller number of suite configurations with a larger  #
# number of steps/actions, compared to a more significant number of suites with#
# a smaller list of steps and actions.                                         #
# Such an approach should minimize the effect of launching brand new browsers  #
# on the overall statistics of the load test.                                  #
################################################################################
suites:

  ##############################################################################
  # The suite's name - please pick a meaningful name describing the actual     #
  # purpose of the suite.                                                      #
  #                                                                            #
  # The system automatically reports every suite instance execution as a       #
  # top-level transaction with the name of the suite.                          #
  #                                                                            #
  # You can configure multiple suites, and a load generator will process such  #
  # suites in parallel. The only requirenment is to have a unique name for     #
  # every configured suite.                                                    #
  ##############################################################################
  Suite Name A:

    ############################################################################
    # Concurrency level of suite execution, i.e., how many concurrent          #
    # threads will process suite instances.                                    #
    #                                                                          #
    # Also, this parameter controls how many browsers are allowed              #
    # to be launched concurrently in the cloud for cloud-based executions.     #
    # Overrides:                                                               #
    # - System property name: suite.concurrency                                #
    # - Environment variable name: SUITE_CONCURRENCY                           #
    ############################################################################
    concurrency: 100

    ############################################################################
    # Duration of the performance test for the given suite.                    #
    #                                                                          #
    # Also, this parameter controls how much time the browser cloud            #
    # will be accessible once the performance test starts in cloud mode.       #
    #                                                                          #
    # Duration of the browser cloud is rounded up to the closest               #
    # hour value.                                                              #
    # For example, if duration = 45m, then browser cloud is created for 1 hour.#
    # Overrides:                                                               #
    # - System property name: suite.duration                                   #
    # - Environment variable name: SUITE_DURATION                              #
    ############################################################################
    duration: 30m

    ############################################################################
    # The time interval for ramping up concurrent processing of suite instances#
    # from 1 up to defined concurrency level. Concurrency is increased evenly  #
    # during *rampUp* period. For example, if you have *concurrency* = 10 and  #
    # *rampUp* = 10s, then every second additional worker thread will be       #
    # launched, starting from 1 thread up to 10 threads.                       #
    # Overrides:                                                               #
    # - System property name: suite.rampUp                                     #
    # - Environment variable name: SUITE_RAMPUP                                #
    ############################################################################
    rampUp: 5m

    ############################################################################
    # The time interval before the end of the test to stop launching new suite #
    # instances. For example, if you have duration = 10m and rampDown = 2m,    #
    # then after the 8th minute of execution no new suite instances will be    #
    # launched.                                                                #
    #                                                                          #
    # At the same time, if a suite instance started execution before the 8th   #
    # minute - such instance will proceed execution till its natural completion#
    # Overrides:                                                               #
    # - System property name: suite.rampDown                                   #
    # - Environment variable name: SUITE_RAMPDOWN                              #
    ############################################################################
    rampDown: 5m

    ############################################################################
    # Every suite should have a collection of named steps, and a step          #
    # is a sequence of actions to be executed one by one in the browser.       #
    #                                                                          #
    # Steps are reported to the analytics system as nested transactions        #
    # with the name of the step.                                               #
    #                                                                          #
    # Any failed action leads to step and suite instance failure,              #
    # so both step transaction and suite instance transaction are marked as    #
    # failed.                                                                  #
    #                                                                          #
    # Suite instance stops execution, once a failure occurs, and a new suite   #
    # instance starts execution instead.                                       #
    ############################################################################
    steps:

      ##########################################################################
      # Name of the step - execution of such step is reported to the analytics #
      # system as nested transaction using the name of the step.               #
      #                                                                        #
      # You can choose whatever meaningful name for the step, but all such     #
      # names should be unique across the suite.                               #
      ##########################################################################
      Open landing page and await components to be loaded:

        ########################################################################
        # Action to open specified URL in the current browser window.          #
        #                                                                      #
        # Default timeout to open the page is 30s.                             #
        # An action fails if such a timeout is reached, but a page is still    #
        # loading.                                                             #
        #                                                                      #
        # You can use the following construct, if you would like to override   #
        # default timeout:                                                     #
        # - open:                                                              #
        #     url: https://...                                                 #
        #     timeout: 15.5s                                                   #
        ########################################################################
        - open: https://verifications.perforator.io/?delay=250ms

        ########################################################################
        # Action to await page load event in the current browser window.       #
        #                                                                      #
        # Parameter of this action specifies how much time to wait till load   #
        # event occurs, before giving up and throwing an exception             #
        ########################################################################
        - awaitPageLoad: 5s

        ########################################################################
        # Actioan to await element to be visible on the page of the current    #
        # browser window.                                                      #
        #                                                                      #
        # Parameter of this action specifies css selector to find element      #
        # in the DOM tree of the page                                          #
        #                                                                      #
        # Default timeout to await element to be visible is 30s.               #
        # An action fails if such a timeout is reached, but specified element  #
        # is not visible yet.                                                  #
        #                                                                      #
        # You can use the following construct, if you would like to override   #
        # default timeout:                                                     #
        # - awaitElementToBeVisible:                                           #
        #     cssSelector: '#async-container'                                  #
        #     timeout: 15.5s                                                   #
        ########################################################################
        - awaitElementToBeVisible: '#async-container'